{% extends "templates/base_template.html" %}


{% block body %}



<script type="text/javascript">
$(document).ready(function() {
  $(".js-example-basic-single").select2();
  $(".js-example-basic-single2").select2();
});
</script>



<form action="/tools/trajectory/{{ trajectory_key }}/node/{{ node_key }}/learning_goals/" method="post">
<input type="hidden" name="type" value="{{type}}">
<input type="hidden" name="mode" value="{{mode}}">
<input type="hidden" name="current_goal" value="{% if current_goal %}{{current_goal.key.urlsafe() }}{% endif %}">
<h4>Learning Goal</h4>
<select class="js-example-basic-single" name="lg">



{% if (learning_goals is defined) and learning_goals %}
{% for g in learning_goals %}
  <option value="{{ g.key.urlsafe() }}" {% if current_goal.goal == g.key.urlsafe() %} selected="selected" {% endif %}>
    {{ g.goal[:150]  | replace('\r\n', '') | replace("\'",'') | safe }} </option>




{% endfor %}
    {% endif %}

</select>
<h4>Support</h4>
<select class="js-example-basic-single2" name='support'>
    <option value="1"  {% if current_goal.support==1 %} selected="selected" {% endif %}>Direct</option>
    <option value="2" {% if current_goal.support==2 %} selected="selected" {% endif %}>Inferred</option>
    <option value="3" {% if current_goal.support==3 %} selected="selected" {% endif %}>Collected</option>
</select>

<h4>Notes</h4>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1"></span>
  <input type="text" class="form-control" aria-describedby="basic-addon1" name="notes"  value="{{current_goal.notes}}">
</div>

<h4></h4>
<button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
