{% extends "base_template.html" %}

{% block body %}

<div class="container">
  {% for author in article.author_names %}
  <span>{{ author.family_name}},&nbsp;{{ author.given_name}}</span>
  {% endfor %}.
  <span>"<a href="https://scholar.google.com/scholar?hl=en&q={{ article.title }} {{article.journal}} {{article.year}}">{{ article.title}}</a>."</span>
  <span>{{ article.journal}}.</span>
  <span>({{ article.year}}).</span>
  <span>{{ article.pages}}.</span>
</div>
</div>


<div class="container about-that">
  <div class="columns">
    
    {% for category in categories %}
    
    <div class="one-third column">
      <h2>{{ category }}</h2>
      <p>Make a bib string function to print to the screen. Also use this to tighten up the search on google scholar</p>
      </p><a href="{{application_url}}/article/category/{{ category }}/edit/{{key}}/" class="btn">Edit {{ category }}</a></p>
    </div>
    {% endfor %}
    
  </div>
</div>

{% endblock %}