/* LTEC COLORS (mainly overrides of Creative theme overrides */

hr {
	border-color: #337ab7;
}

a {
    color: #337ab7;
}

a:hover,
a:focus {
    color: #286090;
}
  
.bg-primary {
	background-color: #337ab7;
}

.navbar-default .navbar-header .navbar-brand {
	/* color: #337ab7; */
	color: white;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
	color: white;
	background-color: #337ab7;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus {
    color: white;
	background-color: #337ab7;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
	/* color: #337ab7!important; */
	color: white;
	background-color: #337ab7;
}

@media(min-width:768px) {

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 14px;
        color: #337ab7;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
		color: white;
		background-color: #337ab7;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus {
        color: white;
		background-color: #337ab7;
    }

}

.portfolio-box .portfolio-box-caption {
	background: rgba(40,96,144,.9);
}

.text-primary {
    color: #286090;
}

/* Buttons */
.btn-primary {
	border-color: #337ab7;
	color: #fff;
	background-color: #337ab7;
}
  
	.btn-primary:hover,
	.btn-primary:focus,
	.btn-primary.focus,
	.btn-primary:active,
	.btn-primary.active,
	.open > .dropdown-toggle.btn-primary {
		color: #fff;
		background-color: #286090;
		border-color: #204d74;
	}

	.btn-primary:active,
	.btn-primary.active,
	.open > .dropdown-toggle.btn-primary {
		background-image: none;
	}

	.btn-primary.disabled,
	.btn-primary[disabled],
	fieldset[disabled] .btn-primary,
	.btn-primary.disabled:hover,
	.btn-primary[disabled]:hover,
	fieldset[disabled] .btn-primary:hover,
	.btn-primary.disabled:focus,
	.btn-primary[disabled]:focus,
	fieldset[disabled] .btn-primary:focus,
	.btn-primary.disabled.focus,
	.btn-primary[disabled].focus,
	fieldset[disabled] .btn-primary.focus,
	.btn-primary.disabled:active,
	.btn-primary[disabled]:active,
	fieldset[disabled] .btn-primary:active,
	.btn-primary.disabled.active,
	.btn-primary[disabled].active,
	fieldset[disabled] .btn-primary.active {
		border-color: #337ab7;
		background-color: #337ab7;
	}

	.btn-primary .badge {
		color: #337ab7;
		background-color: #fff;
	}
