body {
  font: helvetica neue, helvetica, arial, sans-serif;
  font-size: 1rem;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
}

h2 { font-size: 5rem; }
h3 { font-size: 4rem; }
h4 { font-size: 3rem; }
h5 { font-size: 2.75rem; }
h6 { font-size: 2.5rem; }

section.narrow {
  padding: 4rem 0;
}

section.narrow:first-of-type {
  padding-top: 8rem;
}

a {
  text-decoration: underline;
}

a:hover,
a:focus {
  text-decoration: none;
}

a.btn {
  text-decoration: none;
}

.btn {
  text-align: left;
  white-space: normal;
}

.btn.download,
.btn.download:active {
	background-image: url("/static/img/icons/arrow-down.png");
	background-position: left 25px center;
  background-repeat: no-repeat;
	padding-left: 60px;
}

.btn.btn-secondary.download,
.btn.btn-secondary.download:active {
	background-image: url("/static/img/icons/arrow-down-333.svg");
}

.btn.prev,
.btn.prev:active {
	background-image: url("/static/img/icons/arrow-left.png");
	background-position: left 25px center;
	background-repeat: no-repeat;
	padding-left: 60px;
}

.btn.btn-secondary.prev,
.btn.btn-secondary.prev:active {
	background-image: url("/static/img/icons/arrow-left-333.svg");
}

.btn.next,
.btn.next:active {
	background-image: url("/static/img/icons/arrow-right.png");
	background-position: right 25px center;
	background-repeat: no-repeat;
	padding-right: 60px;
}

.btn.btn-secondary.next,
.btn.btn-secondary.next:active {
	background-image: url("/static/img/icons/arrow-right-333.svg");
}

.btn.up,
.btn.up:active {
	background-image: url("/static/img/icons/arrow-up.png");
  background-position: left 25px center;
	background-repeat: no-repeat;
	padding-left: 60px;
}

.btn.btn-secondary.up,
.btn.btn-secondary.up:active {
	background-image: url("/static/img/icons/arrow-up-333.svg");
}

.btn.down,
.btn.down:active {
	background-image: url("/static/img/icons/arrow-down.png");
  background-position: left 25px center;
	background-repeat: no-repeat;
	padding-left: 60px;
}

.btn.btn-secondary.down,
.btn.btn-secondary.down:active {
	background-image: url("/static/img/icons/arrow-down-333.svg");
}

.btn.scratch,
.btn.scratch:active {
	background-image: url("/static/img/icons/scratch.png");
	background-position: 25px center;
	background-repeat: no-repeat;
	padding-left: 60px;
}

.btn.pdf,
.btn.pdf:active {
	background-image: url("/static/img/icons/icon-pdf.svg");
	background-position: 25px center;
  background-size: 19px 20px;
	background-repeat: no-repeat;
	padding-left: 60px;
}

.btn.pdf-red,
.btn.pdf-red:active {
	background-image: url("/static/img/icons/icon-pdf-red.svg");
	background-position: 25px center;
  background-size: 25px 25px;
	background-repeat: no-repeat;
	padding-left: 60px;
}

.btn.gslides,
.btn.gslides:active {
  background-image: url("/static/img/icons/icon-gslides.svg");
  background-size: 25px 25px;
	background-position: 25px center;
	background-repeat: no-repeat;
  padding-left: 60px;
}

.btn.gdocs,
.btn.gdocs:active {
  background-image: url("/static/img/icons/icon-gdocs.svg");
  background-size: 25px 25px;
	background-position: 25px center;
	background-repeat: no-repeat;
  padding-left: 60px;
}

.btn.notebook,
.btn.notebook:active {
  background-image: url("/static/img/icons/icon-notebook.png");
  background-size: 25px 25px;
	background-position: 25px center;
	background-repeat: no-repeat;
  padding-left: 60px;
}

figcaption {
  font-size: 2rem;
  font-style: italic;
  margin: 1em auto;
  max-width: 80%;
}

table{
  margin: 0 auto;
  width: 100%;
  clear: both;
  border-collapse: collapse;
  table-layout: fixed;
  word-wrap:break-word;
}

p {
  /* font-size: 2rem; */
  font-size: 2.5rem;
}

ul, ol {
  /* font-size: 2rem; */
  font-size: 2.5rem;
}

/* Remove decor (bullets/numbers) from list display */
ul.nodecor,
ol.nodecor {
  list-style: none;
  padding-left: 0;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/list-style#Accessibility_concerns */
ul.nodecor li::before,
ol.nodecor li::before {
  content: "\200B";
}

/* Right arrow bullets */
ul.arrow-right,
ul li.arrow-right {
  list-style-image: url('/static/img/icons/arrow-right-333.svg');
}

ul.arrow-right-grey,
ul li.arrow-right-grey {
  list-style-image: url('/static/img/icons/arrow-right-sm-333.svg');
}

/* Transform list with FontAwesome bullets into set of large block with enormous, light bg bullets */
ul.row.fa-ul {
  margin-left: 0;
}

ul.row.display-flex.fa-ul {
  justify-content: center;
}

ul.row.fa-ul li {
  padding: 3em;
}

ul.row.fa-ul.row.display-flex.fa-ul-junto li {
  display: flex;
  align-items: center;
  padding: 3em 0em 3em 5em;
  min-width: 355px;
  max-width: 400px;
}

ul.row.fa-ul li .fa-li {
  /* Remove all padding from icon container */
  width: initial;
  line-height: 0;

  /* Centered icon */
  /* font-size: 12rem;
  left: 50%;
  margin-left: -6rem;
  top: 50%;
  margin-top: -6rem; */

  /* Offset left icon */
  font-size: 14rem;
  top: 0.1em;
  left: 0;
  
  color: rgba(51, 122, 183,0.15);
  transform: rotate(-10deg);
}

ul.row.fa-ul.fa-ul-junto li .fa-li {
  font-size: 7rem;
  margin-left: -9rem;
  top: initial;
  left: initial;
  display: block;
}

.bg-primary ul.row.fa-ul li .fa-li {
  color: rgba(0, 0, 0,0.15);
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.block-center {
  margin-right: auto;
  margin-left: auto;
}

.block-left {
  margin-right: auto;
}

.block-right {
  margin-left: auto;
}

.margin-0 { margin: 0 !important; }
.margin-0-top { margin-top: 0; }
.margin-0-right { margin-right: 0; }
.margin-0-bottom { margin-bottom: 0; }
.margin-0-left { margin-left: 0; }
.margin-1 { margin: 1rem; }
.margin-1-top { margin-top: 1rem; }
.margin-1-right { margin-right: 1rem; }
.margin-1-bottom { margin-bottom: 1rem; }
.margin-1-left { margin-left: 1rem; }
.margin-2 { margin: 2rem; }
.margin-2-top { margin-top: 2rem; }
.margin-2-right { margin-right: 2rem; }
.margin-2-bottom { margin-bottom: 2rem; }
.margin-2-left { margin-left: 2rem; }
.margin-3 { margin: 3rem; }
.margin-3-top { margin-top: 3rem; }
.margin-3-right { margin-right: 3rem; }
.margin-3-bottom { margin-bottom: 3rem; }
.margin-3-left { margin-left: 3rem; }
.margin-4 { margin: 4rem; }
.margin-4-top { margin-top: 4rem; }
.margin-4-right { margin-right: 4rem; }
.margin-4-bottom { margin-bottom: 4rem; }
.margin-4-left { margin-left: 4rem; }

.padding-0 { padding: 0 !important; }
.padding-0-top { padding-top: 0; }
.padding-0-right { padding-right: 0; }
.padding-0-bottom { padding-bottom: 0; }
.padding-0-left { padding-left: 0; }
.padding-1 { padding: 1rem; }
.padding-1-top { padding-top: 1rem; }
.padding-1-right { padding-right: 1rem; }
.padding-1-bottom { padding-bottom: 1rem; }
.padding-1-left { padding-left: 1rem; }
.padding-2 { padding: 2rem; }
.padding-2-top { padding-top: 2rem; }
.padding-2-right { padding-right: 2rem; }
.padding-2-bottom { padding-bottom: 2rem; }
.padding-2-left { padding-left: 2rem; }
.padding-3 { padding: 3rem; }
.padding-3-top { padding-top: 3rem; }
.padding-3-right { padding-right: 3rem; }
.padding-3-bottom { padding-bottom: 3rem; }
.padding-3-left { padding-left: 3rem; }
.padding-4 { padding: 4rem; }
.padding-4-top { padding-top: 4rem; }
.padding-4-right { padding-right: 4rem; }
.padding-4-bottom { padding-bottom: 4rem; }
.padding-4-left { padding-left: 4rem; }

ul.hangingindent,
ol.hangingindent {
  list-style: none;
  padding-left: 0;
}
ul.hangingindent li,
ol.hangingindent li {
  padding-left: 35px;
  text-indent: -35px;
  margin-bottom: 1em;
}
/* https://developer.mozilla.org/en-US/docs/Web/CSS/list-style#Accessibility_concerns */
ul.hangingindent li::before,
ol.hangingindent li::before {
  content: "\200B";
}

/** Add space above certain fragment identifiers to get below the sticky header for deep-linking **/
.paddedAnchor:before {
  content: " ";
  display: inline-block;
  margin-top: -70px;
  height: 115px;
  visibility: hidden;
}

OL.footnotes>LI:target {
  background-color:#efefef;
  font-weight:bold
}

/* Put this class on a row for which each direct descendant should have equal heights */
.row-equal-heights {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

/* Note: DO NOT put this class on a direct descendant of .row-equal-heights; only for use on descendants further down */
.height-max {
  height: 100%;
}

/* Card */
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  /* Remove rounded corners */
  /* border-radius: 8px; */
  border-radius: 0;

  margin-bottom: 30px;
  border: none;
  /* -webkit-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
  -moz-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
  box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22); */
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
  /* box-shadow: 1px 1px 25px rgba(102, 102, 102, 0.33); */
}

.card, .card .card-body, .card .card-contents {
  display: flex;
  flex-direction: column;
}

.card.height-max {
  margin-bottom: 0;
}

.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);

  background-color: #fff;
  border-bottom: 1px solid #e6e6f2;
}

/* Only show bottom border for <summary> used as card header when details container is open */
details:not([open]) summary.card-header {
	border-bottom: none;
}

/* Remove rounded corners
.card-header:first-child {
  border-radius: 8px 8px 0 0;
}

.card-body:first-child {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
} */

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card .card-contents {
  flex-grow: 1;
}

.card .card-contents > :nth-last-child(2) {
  margin-bottom: 0.75rem;
}

.card .card-contents > :last-child {
  margin-top: auto;
}

/* .card-body:last-child {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
} */

.card-footer {
  padding: .75rem 1.25rem;
  background-color: rgba(0,0,0,.03);
  border-top: 1px solid rgba(0,0,0,.125);

  border-top: 1px solid #e6e6f2;
  background: #f6f6ff;
}

/* Remove rounded corners
.card-footer:last-child {
  border-radius: 0 0 7px 7px;
} */

.tag {
  width: fit-content;
  padding: 0.6rem;
  font-size: 1.75rem;
  /* background-color: rgba(255, 255, 255, 0.3); */
  /* font-size: 1.6rem; */
  /* padding: 0.6rem 1.75rem; */
  /* font-size: 1.6rem; */
  /* border-radius: 15px; */
}

.tag i {
  margin-right: 0.5rem;
}

.tag-inline {
  display: inline-block;
  margin-right: 1.5rem;
  /* margin-bottom: 1.5rem; */
}

.tag-inline:last-child {
  margin-right: 0;
}

.card-thumb {
  background-size: cover;
  background-position: center center;
}

.asset-placeholder {
  position: relative;
  margin: 0 auto;
  width: 100%;
  background-color: rgba(196, 196, 196, 0.7);
}

/* Remove rounded corners
.card-body > .asset-placeholder:first-child {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.card-body > .asset-placeholder:last-child {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
} */

.asset-placeholder-inner {
  width: 100%;
}

.asset-placeholder-short .asset-placeholder-inner {
  padding-top: 33.33%;
}

.asset-placeholder-widescreen .asset-placeholder-inner {
  padding-top: 56.25%;
}

.asset-placeholder-standard .asset-placeholder-inner {
  padding-top: 75%;
}

.asset-placeholder-square .asset-placeholder-inner {
  padding-top: 100%;
}

.asset-placeholder .asset-placeholder-contents {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  color: rgba(0,0,0,0.5);
}

.image-examples {
  perspective: 100px; /* Set consistent perspective for child images */
}

.image-examples img {
	width: 50%;
	position: absolute;
	top: 55%;
	left: 45%;
	/* 	transform: skew(-10deg,0deg) rotate(0deg) translateX(-50%) translateY(-50%); */
	/* transform: skew(13deg,-4deg) rotate(5deg); */
  transform: rotateY(-2deg);
	border: 5px solid #337ab7;
	/* 	border: 5px solid white; */
	box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 20%);
}

.image-examples img:nth-of-type(1) {
	top: 40%;
	left: 40%;
}

.image-examples img:nth-of-type(2) {
	top: 25%;
	left: 20%;
}

.image-examples img:nth-of-type(3) {
	top: 10%;
	left: 5%;
}

.assessment-progress svg {
  width: 100%;
  height: auto;
}

/* Light fill (i.e. current assessment) */
.assessment-progress-1 svg .circle1,
.assessment-progress-2 svg .circle2,
.assessment-progress-3 svg .circle3 {
  fill: rgb(51, 122, 183, 0.5);
}

/* Dark fill (i.e. past assessment) */
.assessment-progress-2 svg .circle1,
.assessment-progress-3 svg .circle1,
.assessment-progress-3 svg .circle2 {
  fill: rgb(51, 122, 183, 1);
}

/* Empty fill (i.e. future assessment) */
.assessment-progress-1 svg .circle2,
.assessment-progress-1 svg .circle3,
.assessment-progress-2 svg .circle3 {
  fill: transparent;
}

header {
  min-height: initial;
  height: initial;
  margin-top: 50px;
  background-image: none;
  background-color: white;
}

.header-content-homepage {
  display: flex;
  flex-direction: column-reverse;
  background-color: #337ab7;
}

.header-content-homepage-inner:first-child {
  width: 100%;
  background-color: #337ab7;
}
.header-content-homepage-inner:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: #337ab7;
  padding: 3rem;
}

@media (min-width: 1040px) {
  .header-content-homepage {
    flex-direction: row;
  }
  .header-content-homepage-inner:first-child {
    width: 60%;
  }
  .header-content-homepage-inner:last-child {
    width: 40%;
    padding: 0.5rem 1.5rem;
  }
}

@media (min-width: 1100px) {
  .header-content-homepage-inner:last-child {
    padding: 0.5rem 2rem;
  }
}


.header-content-homepage h2 {
  font-size: 4rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}
/* .header-content-homepage p {
  font-size: 1.75rem;
} */
.header-content-homepage p {
  font-size: 2rem;
}
.header-content-homepage p:last-child {
  margin-bottom: 0;
}
/* @media (min-width: 768px) { */
@media (min-width: 1100px) {
  .header-content-homepage h2 {
    font-size: 5rem;
  }
  /* .header-content-homepage p {
    font-size: 2rem;
  } */
}

header .btn {
  text-shadow: initial;
}

header h1 {
  color: white;
  /* background-color: rgba(51,122,183,0.6); */
  /* display: inline; */
  padding: 0.2em 0.3em;
}

header .header-content .header-content-inner p {
  color: white;
}

.header-content-inner {
  /* background-color: rgba(51,122,183,0.7); */
  /* background-color: rgba(0,0,255,0.3); */
  /* background-color: rgba(40,96,144,0.5); */
  padding: 3em 0;
}

.navbar-default .navbar-header .navbar-brand {
  color: #337ab7;
  /* color: white; */
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: white;
  background-color: #286090;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover,
.navbar-default .nav>li>a:focus {
  color: white;
  background-color: #286090;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
  /* color: #337ab7!important; */
  color: white;
  background-color: #337ab7;
}

@media (min-width: 768px) {
  header .header-content .header-content-inner {
    max-width: 900px;
  }
  .navbar-default {
      background-color: #337ab7;
      /* background-color: rgba(40,96,144,1); */
      /* background-color: rgba(40,96,144,0.5); */
      /* background-color: rgba(255,255,255,0.5); */
      /* background-color: rgba(37,63,107,.5); */
  }
  .navbar-default .nav > li>a, .navbar-default .nav>li>a:focus {
    color: white;
  }
  .navbar-default .navbar-header .navbar-brand {
    color: white;
  }


  .navbar-default.affix .navbar-header .navbar-brand {
      font-size: 14px;
      color: #286090;
  }

  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
  color: white;
  background-color: #286090;
  }

  .navbar-default.affix .nav > li>a:hover,
  .navbar-default.affix .nav>li>a:focus:hover,
  .navbar-default.affix .nav>li>a:focus {
      color: white;
  background-color: #286090;
  }
}

.toTop {
  font-size: 8rem;
  font-weight: 600;
  line-height: 0;

  text-decoration: none;
  text-shadow: 1px 1px 3px #000;
  mix-blend-mode: screen;
  border-radius: 0.5em;

  position: fixed;
  right: 1rem;
  bottom: 1rem;
  opacity: 0.8;
  z-index: 1000;
}
a.toTop:hover,
a.toTop:focus {
  opacity: 1;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
}

footer {
  font-size: 1.5em;
  border-top: 1px solid #c0c0c0;
}

footer p {
  font-size: 2rem;
  margin: 0;
}
footer .container {
  padding: 20px;
}

footer .container > .row {
  display: flex;
  align-items: center;

}

footer .nsf {
  margin: 1em -15px 3em;
}

footer .nsf .nsf-logo img {
  width: 75%;
}

footer .social-media a {
  text-decoration: none;
  margin: 0 0.25em;
}

.showcase-image {
  max-width: 100%;
}

.icon-big {
  font-size: 10em;
}

.icon-huge {
  font-size: 20em;
}

.icon-laptop-divide-container-outer {
  position: relative;
}
.icon-laptop-divide-container-inner {
  display: inline-block;
  position: relative;
}
.icon-laptop-under-divide {
  position: relative;
}
/* Position the minus sign over the laptop screen */
.icon-divide-over-laptop {
  position: absolute;
  left: 35%;
  font-size: 4.25em;
  top: 17%;
}
/* Scale back the minus sign size when huge icon size is set on the outer container */
.icon-laptop-divide-container-outer.icon-huge .icon-divide-over-laptop {
  font-size: 0.425em;
  top: 25%;
}

/* #cy {
  position: absolute;
  left: 0;
  top: 120 !important;
  right: 0;
  bottom: 0;
  height: 86%;
  width: 100%;
} */

/* #cy {
  position: absolute;
  left: 0;
  top: 100px !important;
  right: 0;
  bottom: 100px;
  height: 75%;
  width: 100%;
  border: 1px solid green;
} */

#cy {
  position: absolute;
  left: 0;
  right: 100px;
  bottom: 0;
  height: 86%;
  width: 85%;
  padding: 1em;
}

#info {
  color: #c88;
  font-size: 1em;
  position: absolute;
  z-index: -1;
  left: 1em;
  top: 1em;
}


#beginning {
  left: 2%;
  background-color: #36ad29;
  font-size: 0.7vw !important;
}
#intermediate {
  left: 12%;
  background-color: #e2a32d;
  font-size: 0.7vw !important;
}
#advanced {
  left: 22%;
  background-color: #6030ad;
  font-size: 0.7vw !important;
}

/*#legend {
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  width: 120px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 5%;
  border: none;
  font-size: 16px;
}*/
tr {
  height: 50px;
}

.view_btn {
  width: 6%;
  height: 3.2%;
  position: absolute;
  top: 6.5%;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
   border-style: solid;
  border-color: black;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline:none;
}
#view1 {
  left: 32%;
  font-size: 0.7vw !important;
}
#view2 {
  left: 42%;
  font-size: 0.7vw !important;
}
#view3 {
  left: 52%;
  font-size: 0.7vw !important;
}

#scratch-btn {
  left: 92%;
  font-size: 0.55vw !important;
  background-color: #F2F2F2;
}

#off-comp-btn {
  left: 82%;
  font-size: 0.55vw !important;
  background-color: #0169D9;
}

.square1 {
  background-color:#0169D9;
  font-size: 0.7vw !important;
  left: 62%;
}
.square2 {
  background-color: #F2F2F2;
  font-size: 0.7vw !important;
  left: 72%;
  right: 5% !important;
}


.a-btn {
  z-index: 3;
  visibility: hidden;
  position: absolute;
  display:block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #c3c3c3;
  border: none;
}

.hoverable:hover {
  background-color:rgba(0, 0, 0, 0.1);
}

#visualization-navbar {
  /* background-color: #f05f40;  */
  background-color: #337ab7;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif; 
  text-transform: uppercase; 
  font-size: 13px; 
  font-weight: 700; 
}

#vis-brand {
  color: rgba(255,255,255,.7);
}




/* .navbar-default .navbar-nav>li>a.vis-list:focus,
.navbar-default .navbar-nav>li>a.vis-list:hover {
  color: white;
  background-color: #f26f50;
} */

#vis-dropdown {
  color: rgba(255,255,255,.7);
}

#vis-dropdown:hover {
  /* background-color: #f26f50; */
  background-color: #337ab7;
}

#vis-option {
  color: rgba(255,255,255,.7);
  font-weight: 650;
}
#vis-option:focus, #vis-option:hover {
  background-color: #eaefea;
  color: #333333;
}
.navbar-default .navbar-nav > .open > a {
  /* background-color: #f26f50 !important; */
  background-color: #337ab7 !important;
}

#admin-mast {
  /* background-color: #f05f40;  */
  background-color: #337ab7;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif; 
  text-transform: uppercase; 
  font-size: 13px; 
  font-weight: 700; 
}

#admin-btn {
  color: grey;
}

#admin-btn:hover{
  background-color: grey;
  color: white;
}

#resource-btn:hover{
  /* color:#f05f40; */
  color: #337ab7;
}

#vis-btn{
  border: solid 1px;
  border-color: white;
  margin-bottom: 1em;
}

#vis-btn:hover{
  background-color:white;
  /* color: #f05f40; */
  color: #337ab7;
}
/*
#resource-home-btn {
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  border-radius: 6px;
  background-color:#f05f40;
  border: solid 1px white;
  color: white;
}

#resource-home-btn:hover {
  background-color: white;
  color: #f05f40;
}
#resource-home {
  background-color: #f05f40;
}
*/

/** Homepage **/
.partner-images img {
  margin: 2em;
}
.partner-images-first {
  margin-top: 2em;
}
.partner-images-last {
  margin-bottom: 3em;
}
.logo-uf {
  width: 45%;
}
.logo-uchicago {
  width: 40%;
}
.logo-illinois {
  width: 40%;
}
.logo-uic {
  width: 10%;
}

/** About Page **/
#videos .video-container {
  margin: 1em 0;
}

/** Team Page **/
.row.display-flex {
	display: flex;
	flex-wrap: wrap;
}

.row.display-flex-team > [class*='col-'] {
/*   flex-grow: 1; */
  flex:1;
  /* flex-basis: 230px; */
  flex-basis: 380px;
  margin: 2em 0.5em;
}

.team-thumb {
  /* width: 150px;
  height: 150px; */
  width: 250px;
  height: 250px;
  background-color: #fed136;
  color: #fff;
  border-radius: 100%;
  border: 7px solid #f1f1f1;
  text-align: center;
}

.row.display-flex-team h3 {
  font-size: 3.5em;
}


/** Professional Development Page **/

.pd-advert .row > [class*='col-'] {
  padding: 2em;
  font-size: 1.1em;
}

.pd-advert p {
  font-size: 1.8em;
}

.pd-advert .pd-advert-tagline {
  font-size: 2.1em;
}

.pd-advert .pd-advert-aside {
  font-size: 1.5em;
  font-style: italic;
}

.pd-upcoming .row > div,
.pd-past .row > div {
  margin-top: 4em;
  margin-bottom: 4em;
}

.pd-location {
  font-size: 1.125em;
  font-weight: bold;
}

.pd-title {
  font-style: italic;
}

.pd-date {
  font-size: 2.5em;
}

.pd-desc {
  font-size: 2em;
}

/** Lessons & Assessments Page **/
.sample-items figure {
  margin: 0 0 3em 0;
}
.sample-items img {
  max-width: 100%;
}
@media (min-width: 992px) {
  .sample-items img {
    max-height: 320px;
  }
}
@media (min-width: 1200px) {
  .sample-items figure {
    margin: 0 0 2em 0;
  }
  .sample-items img {
    max-height: 280px;
  }
}

/** Lessons & Assessments Navigator **/
ul.materials-toc,
ul.materials-toc li {
  list-style: none;
  list-style-type: none;
  margin: 0 0 0.5rem 0;
  padding: 0.5rem;
}

.materials-toc-item {
  display: grid;
  grid-template-columns: 20% auto;
  grid-template-rows: min-content auto;
  /* grid-gap: 0.5rem; */
  padding: 0.5rem;
}

@media (min-width: 768px) {
  .materials-toc-item {
    grid-template-columns: 25% auto;
  }
}

@media (min-width: 1200px) {
  .materials-toc-item {
    grid-template-columns: 20% auto;
  }
}

.materials-toc-item .materials-toc-icon {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: span 2;
  place-self: center;
  font-size: 3.5rem;
}

.materials-toc-item .materials-toc-type {
  grid-column-start: 2;
  grid-row-start: 1;
  font-size: 0.85em;
}

.materials-toc-item .materials-toc-title {
  grid-column-start: 2;
  grid-row-start: 2;
}

/* inline-block on <ul> plus 100% width on <a> element below gives us equal widths for <a> elements */
ul.item-materials {
  display: inline-block;
}

ul.item-materials li a {
  font-size: 2rem;
  text-transform: none;
  width: 100%;
}

ul.item-topics li {
  font-size: 2rem;
  padding: 1rem;
}

/** Visualization Styles **/

/* #vis-directions {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  border: 1px solid green;
  background-color: red;
} */

#vis-directions {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 15%;
  height: 86%;
  /* z-index: 100000; */
  border-left: 3px solid #ddd;
  background-color: white;
  padding: 0.5em;
  overflow-y: auto;
}

#vis-directions h2 {
  margin-top: 0;
}