body {
  font: helvetica neue, helvetica, arial, sans-serif;
  font-size: 1rem;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
}

h2 { font-size: 5rem; }
h3 { font-size: 4rem; }
h4 { font-size: 3rem; }
h5 { font-size: 2.75rem; }
h6 { font-size: 2.5rem; }

a {
  text-decoration: underline;
}

a:hover,
a:focus {
  text-decoration: none;
}

a.btn {
  text-decoration: none;
}

figcaption {
  font-size: 2rem;
  font-style: italic;
  margin: 1em auto;
  max-width: 80%;
}

table{
  margin: 0 auto;
  width: 100%;
  clear: both;
  border-collapse: collapse;
  table-layout: fixed;
  word-wrap:break-word;
}

p {
  font-size: 2rem;
}

ul {
  font-size: 2rem;
}

ul.nodecor,
ol.nodecor {
  list-style: none;
  padding-left: 0;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/list-style#Accessibility_concerns */
ul.nodecor li::before,
ol.nodecor li::before {
  content: "\200B";
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.block {
  display: block;
}

/** Add space above certain fragment identifiers to get below the sticky header for deep-linking **/
.paddedAnchor:before {
  content: " ";
  display: inline-block;
  margin-top: -70px;
  height: 115px;
  visibility: hidden;
}

OL.footnotes>LI:target {
  background-color:#efefef;
  font-weight:bold
}

header {
  min-height: initial;
  height: initial;
  margin-top: 50px;
  background-image: none;
  background-color: white;
}

.header-content-homepage {
  display: flex;
}
.header-content-homepage-inner:first-child {
  width: 60%;
  background-color: rgba(51, 122, 183, 0.5);
}
.header-content-homepage-inner:last-child {
  width: 40%;
  background-color: #337ab7;
  padding: 0.5em;
}

.header-content-homepage h2 {
  font-size: 5rem;
}

header .btn {
  text-shadow: initial;
}

header h1 {
  color: white;
  /* background-color: rgba(51,122,183,0.6); */
  /* display: inline; */
  padding: 0.2em 0.3em;
}

header .header-content .header-content-inner p {
  color: white;
}

.header-content-inner {
  /* background-color: rgba(51,122,183,0.7); */
  /* background-color: rgba(0,0,255,0.3); */
  /* background-color: rgba(40,96,144,0.5); */
  padding: 3em 0;
}

.navbar-default .navbar-header .navbar-brand {
/* color: #337ab7; */
color: white;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
color: white;
background-color: #286090;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus {
  color: white;
background-color: #286090;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
/* color: #337ab7!important; */
color: white;
background-color: #337ab7;
}

@media (min-width: 768px) {
  header .header-content .header-content-inner {
      max-width: 900px;
  }
  .navbar-default {
      background-color: #337ab7;
      /* background-color: rgba(40,96,144,1); */
      /* background-color: rgba(40,96,144,0.5); */
/*         background-color: rgba(255,255,255,0.5); */
/*         background-color: rgba(37,63,107,.5); */
  }
  .navbar-default .nav > li>a, .navbar-default .nav>li>a:focus {
      color: white;
  }
  .navbar-default .navbar-header .navbar-brand {
      color: white;
  }


  .navbar-default.affix .navbar-header .navbar-brand {
      font-size: 14px;
      color: #286090;
  }

  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
  color: white;
  background-color: #286090;
  }

  .navbar-default.affix .nav > li>a:hover,
  .navbar-default.affix .nav>li>a:focus {
      color: white;
  background-color: #286090;
  }
}

footer {
  font-size: 1.5em;
  border-top: 1px solid #c0c0c0;
}

footer p {
  margin: 0;
}
footer .container {
  padding: 20px;
}

footer .container > .row {
  display: flex;
  align-items: center;

}

footer .nsf {
  margin: 1em 0 3em 0;
}

footer .nsf .nsf-logo img {
  width: 75%;
}

footer .social-media a {
  text-decoration: none;
  margin: 0 0.25em;
}


.bg-primary p {
  font-size: 2.5rem;
}

.showcase-image {
  max-width: 100%;
}

.icon-big {
  font-size: 10em;
}

.icon-huge {
  font-size: 20em;
}

.icon-laptop-divide-container-outer {
  position: relative;
}
.icon-laptop-divide-container-inner {
  display: inline-block;
  position: relative;
}
.icon-laptop-under-divide {
  position: relative;
}
/* Position the minus sign over the laptop screen */
.icon-divide-over-laptop {
  position: absolute;
  left: 35%;
  font-size: 4.25em;
  top: 17%;
}
/* Scale back the minus sign size when huge icon size is set on the outer container */
.icon-laptop-divide-container-outer.icon-huge .icon-divide-over-laptop {
  font-size: 0.425em;
  top: 25%;
}

/* #cy {
  position: absolute;
  left: 0;
  top: 120 !important;
  right: 0;
  bottom: 0;
  height: 86%;
  width: 100%;
} */

/* #cy {
  position: absolute;
  left: 0;
  top: 100px !important;
  right: 0;
  bottom: 100px;
  height: 75%;
  width: 100%;
  border: 1px solid green;
} */

#cy {
  position: absolute;
  left: 0;
  right: 100px;
  bottom: 0;
  height: 86%;
  width: 85%;
  padding: 1em;
}

#info {
  color: #c88;
  font-size: 1em;
  position: absolute;
  z-index: -1;
  left: 1em;
  top: 1em;
}


#beginning {
  left: 2%;
  background-color: #36ad29;
  font-size: 0.7vw !important;
}
#intermediate {
  left: 12%;
  background-color: #e2a32d;
  font-size: 0.7vw !important;
}
#advanced {
  left: 22%;
  background-color: #6030ad;
  font-size: 0.7vw !important;
}

/*#legend {
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  width: 120px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 5%;
  border: none;
  font-size: 16px;
}*/
tr {
  height: 50px;
}

.view_btn {
  width: 6%;
  height: 3.2%;
  position: absolute;
  top: 6.5%;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
   border-style: solid;
  border-color: black;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline:none;
}
#view1 {
  left: 32%;
  font-size: 0.7vw !important;
}
#view2 {
  left: 42%;
  font-size: 0.7vw !important;
}
#view3 {
  left: 52%;
  font-size: 0.7vw !important;
}

#scratch-btn {
  left: 92%;
  font-size: 0.55vw !important;
  background-color: #F2F2F2;
}

#off-comp-btn {
  left: 82%;
  font-size: 0.55vw !important;
  background-color: #0169D9;
}

.square1 {
  background-color:#0169D9;
  font-size: 0.7vw !important;
  left: 62%;
}
.square2 {
  background-color: #F2F2F2;
  font-size: 0.7vw !important;
  left: 72%;
  right: 5% !important;
}


.a-btn {
  z-index: 3;
  visibility: hidden;
  position: absolute;
  display:block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #c3c3c3;
  border: none;
}

.hoverable:hover {
  background-color:rgba(0, 0, 0, 0.1);
}

#visualization-navbar {
  /* background-color: #f05f40;  */
  background-color: #337ab7;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif; 
  text-transform: uppercase; 
  font-size: 13px; 
  font-weight: 700; 
}

#vis-brand {
  color: rgba(255,255,255,.7);
}




/* .navbar-default .navbar-nav>li>a.vis-list:focus,
.navbar-default .navbar-nav>li>a.vis-list:hover {
  color: white;
  background-color: #f26f50;
} */

#vis-dropdown {
  color: rgba(255,255,255,.7);
}

#vis-dropdown:hover {
  /* background-color: #f26f50; */
  background-color: #337ab7;
}

#vis-option {
  color: rgba(255,255,255,.7);
  font-weight: 650;
}
#vis-option:focus, #vis-option:hover {
  background-color: #eaefea;
  color: #333333;
}
.navbar-default .navbar-nav > .open > a {
  /* background-color: #f26f50 !important; */
  background-color: #337ab7 !important;
}

#admin-mast {
  /* background-color: #f05f40;  */
  background-color: #337ab7;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif; 
  text-transform: uppercase; 
  font-size: 13px; 
  font-weight: 700; 
}

#admin-btn {
  color: grey;
}

#admin-btn:hover{
  background-color: grey;
  color: white;
}

#resource-btn:hover{
  /* color:#f05f40; */
  color: #337ab7;
}

#vis-btn{
  border: solid 1px;
  border-color: white;
  margin-bottom: 1em;
}

#vis-btn:hover{
  background-color:white;
  /* color: #f05f40; */
  color: #337ab7;
}
/*
#resource-home-btn {
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  border-radius: 6px;
  background-color:#f05f40;
  border: solid 1px white;
  color: white;
}

#resource-home-btn:hover {
  background-color: white;
  color: #f05f40;
}
#resource-home {
  background-color: #f05f40;
}
*/

/** Homepage **/
#partners img {
  margin: 1em 2em;
}
.logo-uf {
  width: 45%;
}
.logo-uchicago {
  width: 40%;
}
.logo-illinois {
  width: 40%;
}
.logo-uic {
  width: 10%;
}

/** About Page **/
#videos .video-container {
  margin: 1em 0;
}

/** Team Page **/
.row.display-flex {
	display: flex;
	flex-wrap: wrap;
}

.row.display-flex-team > [class*='col-'] {
/*   flex-grow: 1; */
  flex:1;
  /* flex-basis: 230px; */
  flex-basis: 380px;
  margin: 2em 0.5em;
}

.team-thumb {
  /* width: 150px;
  height: 150px; */
  width: 250px;
  height: 250px;
  background-color: #fed136;
  color: #fff;
  border-radius: 100%;
  border: 7px solid #f1f1f1;
  text-align: center;
}

.row.display-flex-team h3 {
  font-size: 3.5em;
}


/** Professional Development Page **/

.pd-advert .row > [class*='col-'] {
  padding: 2em;
  font-size: 1.1em;
}

.pd-advert p {
  font-size: 1.8em;
}

.pd-advert .pd-advert-tagline {
  font-size: 2.1em;
}

.pd-advert .pd-advert-aside {
  font-size: 1.5em;
  font-style: italic;
}

.pd-upcoming .row > div,
.pd-past .row > div {
  margin-top: 4em;
  margin-bottom: 4em;
}

.pd-location {
  font-size: 1.125em;
  font-weight: bold;
}

.pd-title {
  font-style: italic;
}

.pd-date {
  font-size: 2.5em;
}

.pd-desc {
  font-size: 2em;
}

/** Lessons Page **/
.sample-lessons figure {
  margin: 0 0 3em 0;
}
.sample-lessons img {
  max-width: 100%;
}
@media (min-width: 992px) {
  .sample-lessons img {
    max-height: 320px;
  }
}
@media (min-width: 1200px) {
  .sample-lessons figure {
    margin: 0 0 2em 0;
  }
  .sample-lessons img {
    max-height: 280px;
  }
}

/** Visualization Styles **/

/* #vis-directions {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  border: 1px solid green;
  background-color: red;
} */

#vis-directions {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 15%;
  height: 86%;
  /* z-index: 100000; */
  border-left: 3px solid #ddd;
  background-color: white;
  padding: 0.5em;
  overflow-y: auto;
}

#vis-directions h2 {
  margin-top: 0;
}