{% extends "templates/public_base_template.html" %}

{% block body %}

<section class="bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Trajectory Visualizations</h2>
        <hr class="light">
        <p class="text-faded">
        Prototype learning trajectories for computer science at grades K-5.</p>
        <!--<a href="#" class="btn btn-default btn-xl">Get Started!</a>-->
        <a id="resource-home-btn" href="article/" class="btn-xl page-scroll">Articles</a>
        <a id="resource-home-btn" href="https://ctrl.education.illinois.edu/ltec/lessons" class="btn-xl page-scroll">CT+Math Lessons</a>
        <a id="resource-home-btn" href="/public/visualization/" class="btn-xl page-scroll">Learning Trajectories</a>
      </div>
    </div>
  </div>
</section>
  <!--<header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Trajectory Visualizations</h1>
                <hr>
                <p>Prototype learning trajectories for computer science at grades K-5</p>
                <a href="/tools/trajectory/ahZzfmV2ZXJ5ZGF5Y29tcHV0aW5nb3JncjELEgpUcmFqZWN0b3J5IgpUUkFKRUNUT1JZDAsSClRyYWplY3RvcnkYgICAgMDflwoM/visualization/" class="btn btn-primary btn-xl page-scroll">Sequence</a>
                <a href="/tools/trajectory/ahZzfmV2ZXJ5ZGF5Y29tcHV0aW5nb3JncjELEgpUcmFqZWN0b3J5IgpUUkFKRUNUT1JZDAsSClRyYWplY3RvcnkYgICAgKDEjgoM/visualization/" class="btn btn-primary btn-xl page-scroll">Repetition</a>
                <a href="/tools/trajectory/ahZzfmV2ZXJ5ZGF5Y29tcHV0aW5nb3JncjELEgpUcmFqZWN0b3J5IgpUUkFKRUNUT1JZDAsSClRyYWplY3RvcnkYgICAgKCSnwoM/visualization/" class="btn btn-primary btn-xl page-scroll">Conditionals</a>
            </div>
        </div>
    </header>-->



{% endblock %}
