{% extends "templates/public_base_template.html" %}
{% block body %}

<div class="container">
  <div class="four-fifths column">
    <table>
    {% for article in articles|sort(attribute='citation') %}
      <tr class="{{ loop.cycle('odd', 'even') }}">
        <td>
          <div class="row">
            <li>  {{ article.citation}} <a href="{{ article.key.urlsafe() }}/">View Summary.</a></li>
          </div>
        </td>
      </tr>
    {% endfor %}
    </table>
  </div>
</div> <!-- /container -->

{% endblock %}
