{% extends "templates/public_base_template.html" %}
{% block body %}

<div class="container">
  
  <div class="four-fifths column" style="background-color: white;">
    <table>
      {% for article in articles|sort(attribute='citation') %}
      <tr class="{{ loop.cycle('odd', 'even') }}">
        <td>
          <div>
            <li>{{ article.citation}} <a href="{{ article.key.urlsafe() }}/" style="color: #f05f40">View Summary.</a>
            </li>
          </div>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div> <!-- /container -->

{% endblock %}
