    <div class="row partner-images partner-images-first">
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
            <img src="/static/img/logos/uf-college-of-education_official-logo.png" alt="University of Florida College of Education" class="logo-uf" />
            <img src="/static/img/logos/UChicago_STEM_ED_logo3-01.png" alt="University of Chicago STEM Education Center" class="logo-uchicago" />
        </div>
    </div> <!-- /.row -->
    <div class="row partner-images partner-images-last">
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
            <img src="/static/img/logos/Illinois-Wordmark-Horizontal-Full-Color-RGB.png" alt="University of Illinois at Urbana-Champaign" class="logo-illinois" />
            <img src="/static/img/logos/CAMP.CIRC.LG.RED.PNG" alt="University of Illinois at Chicago" class="logo-uic" />
            <img src="/static/img/logos/LUC_stacked.png" alt="Loyola University Chicago" class="logo-luc" />
        </div>
    </div> <!-- /.row -->