{% extends "templates/public_base_template.html" %}

{% block body %}
    <header>
        <div class="header-content-homepage">
            <div class="header-content-homepage-inner">
                
                <!-- <h1>Everyday Computing</h1>
                <hr>
                <p>Prototype learning trajectories for computer science at grades K-5</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a> -->
                <!-- <video></video> -->
                <!-- <img src="/static/img/video-thumb-videohall-2018.PNG" alt="" style="width: 100%;" /> -->
                {% include "templates/include_random_video.html" %}
            </div>
            <div class="header-content-homepage-inner">
                <h2>About Everyday Computing</h2>
                <p>
                    <!-- LTEC-2 is a collaborative NSF STEM+C project between the University of Florida, UChicago STEM Center, University of Illinois at Urbana Champaign, and the University of Illinois at Chicago. The project seeks to understand how to integrate computational thinking into elementary mathematics. This work involves the development and evaluation of integrated elementary mathematics and computer science/computational thinking lessons that align with learning trajectories for elementary computational thinking. Our research attempts to understand how students' understanding of fractions is influenced by experiences with integrated lessons that combine mathematics with computational thinking. -->
                    Learning Trajectories for Everyday Computing is a collaborative NSF STEM+C project which seeks to understand how to integrate computational thinking into elementary mathematics.
                </p>

                <p>
                    <a href="/about/" class="btn btn-default btn-xl page-scroll">Find Out More</a>
                </p>
            </div>
        </div>
    </header>

    <section id="services">
        <div class="container">
            <div class="row">
                <!-- <div class="col-lg-4 col-md-4 col-sm-12 text-center">
                    <div class="service-box">
                        <span class="fab fa-creative-commons-pd-alt text-primary icon-big" aria-hidden="true"></span>
                        <h3>Professional Development</h3>
                        <p>
                            We offer professional development for teachers looking to integrate computational thinking and computer science into their mathematics curriculum.
                        </p>

                        <p>
                            <br />
                            <a href="/pd/" class="btn btn-primary btn-xl wow tada" style="visibility: visible; animation-name: tada;">Learn more<span class="sr-only"> about our professional development opportunities</span></a>
                        </p>
                    </div>
                </div> -->

                <div class="col-lg-4 col-md-4 col-sm-12 text-center">
                    <div class="service-box">
                        <div class="icon-laptop-divide-container-outer">
                            <div class="icon-laptop-divide-container-inner">
                                <span class="fas fa-laptop text-primary icon-laptop-under-divide icon-big" aria-hidden="true"></span>
                                <span class="fas fa-divide text-primary icon-divide-over-laptop" aria-hidden="true"></span>
                            </div>
                        </div>
                        <h3>Action Fractions Lessons</h3>
                        <p>
                            Action Fractions is an integrated mathematics-computational thinking curriculum, designed using Everyday Mathematics. This course focuses on 3rd and 4th grade fractions instruction, providing 10 hours of instruction per year to augment any existing mathematics curriculum.
                        </p>

                        <p>
                            <br />
                            <a href="/public/resource/#lessons-actionfractions" class="btn btn-primary btn-xl wow tada" style="visibility: visible; animation-name: tada;">View sample lessons</a>
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 text-center">
                    <div class="service-box">
                        <span class="fas fa-code-branch text-primary icon-big" aria-hidden="true"></span>
                        <h3>Learning Trajectories</h3>
                        <p>
                            We have developed learning trajectories for computer science at grades K-5. We have published learning trajectories for the topics of Sequence, Repetition, Conditionals, Decomposition, & Debugging.
                        </p>

                        <p>
                            <br />
                            <a href="/public/visualization/" class="btn btn-primary btn-xl wow tada" style="visibility: visible; animation-name: tada;">View Learning Trajectories</a>
                        </p>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-4 col-sm-12 text-center">
                    <div class="service-box">
                        <span class="far fa-file-alt text-primary icon-big" aria-hidden="true"></span>
                        <h3>Publications & Presentations</h3>
                        <p>
                            The LTEC-2 team continues to present findings in journal articles, poster sessions, panel discussions, and paper presentations.
                            We will continue to update this section as dissemination efforts continue.
                        </p>

                        <p>
                            <br />
                            <a href="/publications/" class="btn btn-primary btn-xl wow tada" style="visibility: visible; animation-name: tada;">View Publications & Presentations</a>
                        </p>
                    </div>
                </div>
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </section> <!-- /#services -->

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Mission</h2>
                    <hr class="light">
                    <p class="text-faded">
                        Our overall mission is to perform the foundational research necessary to bring computational thinking instruction to all students, including those with various cultural and ethnic backgrounds, learning differences, socioeconomic backgrounds, and genders. This project focuses on integrated instruction, to explore ways in which integrated CT / mathematics instruction can benefit students learning both subjects.
                    </p>
                    <p>
                        <a href="/about/" class="btn btn-default btn-xl">Learn more about our work</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="partners">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Partners</h2>
                </div>
            </div>
            <!--
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 text-center">
                    <img src="/static/img/logos/UChicago_STEM_ED_logo3-01.png" alt="University of Chicago STEM Education Center" style="width: 80%;">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 text-center">
                    <img src="/static/img/logos/uf-college-of-education_official-logo.png" alt="University of Florida College of Education" style="width: 90%;">
                </div>
            </div> --> <!-- /.row -->
            
            {% include "templates/include_partners.html" %}

            <div class="row">
                <div class="col-lg-12 text-center">
                    <a href="/about/team/" class="btn btn-primary btn-xxl page-scroll">Meet the Team</a>
                </div>
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </section> <!-- /#partners -->


  <!--
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">At Your Service</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                        <h3>Sturdy Templates</h3>
                        <p class="text-muted">Our templates are updated regularly so they don't break.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Ready to Ship</h3>
                        <p class="text-muted">You can use this theme as is, or you can make changes!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Up to Date</h3>
                        <p class="text-muted">We update dependencies to keep things fresh.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Made with Love</h3>
                        <p class="text-muted">You have to make your websites with love these days!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
  -->
  <!--
<section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="static/img/portfolio/Isaacs.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="static/img/portfolio/2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="/static/img/portfolio/3.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="/static/img/portfolio/4.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="static/img/portfolio/DianaCropped.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Diana Franklin
                                </div>
                                <div class="project-name">
                                    CEMSE
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="static/img/portfolio/6.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    -->

<!--
    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="static/img/portfolio/1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="static/img/portfolio/2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="static/img/portfolio/3.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="static/img/portfolio/4.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="static/img/portfolio/DianaCropped.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Diana Franklin
                                </div>
                                <div class="project-name">
                                    CEMSE
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="static/img/portfolio/6.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
-->
    <aside class="bg-dark">
        <div class="container text-center">
            <!--<div class="call-to-action">
                <h2>Free Download at Start Bootstrap!</h2>
                <a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a>
            </div>
          -->
        </div>
    </aside>
    
    <!-- ----------------------------------------------------------- CONTACT -->
    <section id="contact">
        <div class="container">
            <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Stay in Touch</h2>
                <hr class="primary">
                <p>Want to keep up to date with Everyday Computing? Follow up on Twitter or send us an email!</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fab fa-twitter fa-5x wow bounceIn"></i>
                <p><a href="http://twitter.com/everydayCS">@everydayCS</a></p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fas fa-envelope fa-5x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:everydaycsproject@gmail.com">everydaycsproject@gmail.com</a></p>
            </div>
            </div>
        </div>
    </section>


{% endblock %}
