{% extends "templates/public_base_template.html" %}

{% block body %}


<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h1 class="section-heading">Professional Development</h1>
        <hr class="light">
        <p class="text-faded">
          Overview of our professional development activities goes here. Perhaps describe our over-arching philosophy and goals involving professional development?
        </p>
      </div>
    </div>
  </div>
</section>




<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Professional Development</h2>
        <hr class="primary">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row display-flex">

      Hello World!!
    
    </div> <!-- /.row -->
    <!--
    <div class="row">

    </div> --> <!-- /.row -->

  </div> <!-- /.container -->

</section>


<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Past Professional Development</h2>
        <hr class="primary">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row display-flex">
      
      Hello World 2.0!!
      
    </div> <!-- /.row -->
  </div> <!-- /.container -->

</section>



<aside class="bg-dark">
  <div class="container text-center">
    <!--<div class="call-to-action">
     <h2>Free Download at Start Bootstrap!</h2>
     <a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a>
     </div>
     -->
  </div>
</aside>


{% endblock %}
