{% from "data_instructional_materials.jinja" import gradeData,materialsData,iconMap %}
{% set includeIsotope = true %}
{% extends "templates/public_base_template.html" %}

{% block body %}

<style>
  /* See https://type-scale.com/?size=18&scale=1.200&text=A%20Visual%20Type%20Scale&font=Open%20Sans&fontweight=400&bodyfont=body_font_default&bodyfontweight=400&lineheight=1.75&backgroundcolor=%23ffffff&fontcolor=%23000000&preview=false */
  /* Note: use px values as rems, since we set body to 10px for easier math */
  h1,.h1 { font-size: 4.479rem; }
  h2 { font-size: 3.732rem; }
  h3 { font-size: 3.110rem; }
  h4 { font-size: 2.592rem; }
  h5 { font-size: 2.160rem; }
  h6 { font-size: 2.0rem; font-weight: bold; }

  small, .text_small { font-size: 0.833rem; }

  summary { font-size: 2.0rem; font-weight: bold; cursor: pointer; display: revert; }
  p, details { font-size: 1.8rem; margin: 1rem 0; }

  ul, ol { font-size: 1.8rem; }

</style>

<section id="lessons-main" class="narrow bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <!-- Temporary hack to keep Creative theme from auto-sizing H1 -->
        <div class="h1 section-heading">{{gradeData[grade]['grade_title']}} Instructional Materials</div>
        <hr class="light">
        <br>
        <p class="text-faded">
          {{gradeData[grade]['text_about']}}
        </p>
        <br>
        <p>
          <a id="vis-btn" href="#listing" class="btn btn-primary btn-xl page-scroll">Quick List</a>
          &nbsp;
          <a id="vis-btn" href="#getting-started" class="btn btn-primary btn-xl page-scroll">Getting Started</a>
          &nbsp;
          <a id="vis-btn" href="#lessons-assessments" class="btn btn-primary btn-xl page-scroll">Lessons &amp; Assessments</a>
          &nbsp;
          <a id="vis-btn" href="#about" class="btn btn-primary btn-xl page-scroll">About</a>
        </p>
        <p class="margin-2-top">
          <a href="../" class="btn btn-default btn-secondary btn-xl up">
            Back to Action Fractions
          </a>
        </p>
      </div>
    </div>
  </div>
</section>

<section id="listing" class="narrow bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2>Quick List of {{gradeData[grade]['grade_title']}} materials</h2>
        <hr>
      </div>
      {# <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-offset-2 col-md-6 col-md-offset-3 text-left"> #}
      <div class="col-xs-12 text-left">

        {% if gradeData[grade]['materials'] %}

          <ul class="materials-toc row row-equal-heights">
            
          {% for gradeID in gradeData[grade]['materials'] %}
            {% if materialsData[gradeID] %}

              {% if materialsData[gradeID]['type']|lower == 'lesson' %}
                {% set liClass = 'col-xs-6 col-sm-3' %}
                {% set itemClass = '' %}
                {% set itemTitle = materialsData[gradeID]['title'] %}
              {% elif materialsData[gradeID]['type']|lower == 'assessment' %}
                {% set liClass = 'col-xs-12' %}
                {% set itemClass = 'col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4' %}
                {% set itemTitle = materialsData[gradeID]['title_short'] %}
              {% else %}
                {% set liClass = '' %}
                {% set itemClass = '' %}
              {% endif %}

              <li class="materials-toc-{{ materialsData[gradeID]['type']|lower }} {{ liClass }}">
                <div class="materials-toc-item card {{ itemClass }} height-max">
                  <div class="materials-toc-icon">{{ iconMap[materialsData[gradeID]['type']]|safe }}</div>
                  <div class="materials-toc-type">{{ materialsData[gradeID]['type'] }} #{{ materialsData[gradeID]['num'] }}:</div>
                  <div class="materials-toc-title"><a href="./{{ gradeID }}">{{ itemTitle }}</a></div>
                </div>
              </li>

            {% endif %}
          {% endfor %}
          
          </ul>

        {% endif %}

      </div>
    </div>
  </div>
</section>

<section id="getting-started" class="narrow">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2>Getting Started with Action Fractions</h2>
        <hr>
      </div>
      <div class="col-xs-12 text-left">
        <details class="card">
          <summary class="card-header">For teachers currently using Everyday Mathematics</summary>
          <div class="card-body">
            <p>
              If you are currently teaching Everyday Mathematics, Action Fraction lessons are integrated into the Everyday Mathematics curriculum across the year. For example, in third grade the lessons are as follows: one lesson during unit 1, three lessons during unit 2, one lesson during unit 4, three lessons during unit 5, one lesson during unit 6, and two lessons during unit 7. After the lesson in unit 8 is completed, a culminating Scratch project activity will be assigned. Additionally, there are three CT assessments, one beginning of the year math assessment, and one end of year (E-O-Y) math assessment administered. Plan to spend approximately 45–90 minutes per Scratch lesson. Unplugged lessons are typically 15 minutes. The lessons are designed to be implemented in the suggested sequential order.
            </p>
          </div>
        </details>
        <details class="card">
          <summary class="card-header">For teachers NOT currently using Everyday Mathematics</summary>
          <div class="card-body">
            <p>
              If you are not currently teaching Everyday Mathematics, you may wish to spend some time determining where the Action Fractions content would best fit within the scope and sequence of your curriculum. Pertinent information related to precursor skills is summarized in each Lesson Opener (first page of each lesson). Please reference each lesson's "Math Connections" and "CS Connections" to help you decide what is most appropriate for your situation.
            </p>
          <div>
        </details>
        <details class="card">
          <summary class="card-header">Types of Action Fractions lessons</summary>
          <div class="card-body">
            <p>
              Action Fraction lessons can be divided into three categories: unplugged, skill building and culminating project. Each year of instruction includes approximately 12 activities. Major concepts are often introduced first in an unplugged activity, followed by several skill building activities. Each year concludes with an open-ended, culminating project.
            </p>
          </div>
        </details>
        <details class="card">
          <summary class="card-header">About Skill-building lessons</summary>
          <div class="card-body">
            <p>
              Most skill-building lessons follow a similar format. First, the context is set in the lesson opening which provides mathematics connections and the Computational Thinking (CT) connections. Organizational and management considerations are also introduced along with key vocabulary words and the CT big ideas for the lesson. Each lesson includes both a list of anticipated barriers to learning and options for adopting the lessons based on student preferences and needs. In the, "Warm Up" section students review important material and are introduced to the lesson learning goals in the form of, "I Can" statements. Learn more about, "I Can" statements in this video.
            </p>
            <p>
              Next, in the "Focus" section, students are presented with example code that illustrates the use of a CT concept for exploring a mathematics concept. Students are stepped through the example code in three steps using the TIPP&SEE learning strategy: observing how it currently works, inspecting the code and predicting what code blocks had particular effects. Finally, students make small changes to new code blocks in order to better understand the code. Students then use those code blocks to make their own scripts according to prompts in their journal pages. You can learn more about using the TIPP&SEE format in this video.
            </p>
            <p>
              Finally, in the "Wrap Up" section of the lessons, students engage in whole group discussion of their work, and reflect on their learning by revisiting the "I Can" statements.
            </p>
          </div>
        </details>
        <details class="card">
          <summary class="card-header">Types of Action Fractions Assessments</summary>
          <div class="card-body">
            <p>
              Actions Fractions has an associated set of three grade-specific assessments that are designed to make visible students' developing CT competencies. Each assessment focuses on a set of CT knowledge and skills taught during the preceding lessons. Although some items on these assessments use a math context, their primary purpose is to help teachers interpret students' CT learning.
            </p>
            <p>
              In addition, each year's culminating project provides teachers another opportunity to assess students' CT by reflecting on the CT knowledge and skills that students demonstrated through building their project.
            </p>
          </div>
        </details>
        <details class="card">
          <summary class="card-header">Getting Started with Scratch</summary>
          <div class="card-body">
            <p>
              How-To Videos &amp; Slide Decks
            </p>
            <ul>
              <li><a href="https://docs.google.com/presentation/d/e/2PACX-1vQVwpePK8YzrhXO_GM8DUdYN9B2L6ifDQnrYJyx0f4_0o8iCGxVinnTALtt8twH2hwgtBVK7YnG2RGJ/pub?start=false&loop=true&delayms=3000">Set Up Teacher Accounts</a></li>
              <li><a href="https://docs.google.com/presentation/d/e/2PACX-1vQqfmnmqRjzpub-llq6kVaXTDs64J18cMRA3fCHA8z4hbxB5P4m0-C3jh1ETTK8qLPXPAkQ-0k9uxk6/pub?start=false&loop=true&delayms=3000">Set Up A Class</a></li>
              <li><a href="https://docs.google.com/presentation/d/e/2PACX-1vShy24mH_N5R-2QUWs9WZqLqlCKzSaF_IFzR71gK5VfMkdO_u6XdASsdMuuUzNavdNqAuaxFQogHVbv/pub?start=false&loop=true&delayms=3000">Manage Student Accounts</a></li>
              <li><a href="https://drive.google.com/a/uchicago.edu/file/d/1rBYDetkiQKGk1Dsk04vHLqIUZErMhmJq/view?usp=sharing">Create A Studio and Add Projects</a></li>
              <li><a href="https://docs.google.com/presentation/d/e/2PACX-1vScys_acLh8ymVl1W9Igy03dzV1zY5bppwG3TtI_g2dUAg1O5oFVYmHb7HTIGDJxPCArBrL4SrB1cZ4/pub?start=false&loop=true&delayms=3000">Moderate Activities</a></li>
            </ul>
            <p>
              How-To PDFs
            </p>
            <ul>
              <li><a href="https://drive.google.com/open?id=1meXmd9dw7v-ukc3YuIjpgcRJvDpq6N_Z">Scratch Student Login Instructions (First Time)</a></li>
              <li><a href="https://bit.ly/2nSaKXd">Set Up Class, Create Studios, Add Projects to Studios</a></li>
              <li><a href="https://bit.ly/2nlwvhM">Reload, Remix, Share, +Add to Studio Chart</a></li>
            </ul>
          </div>
        </details>
      </div>
    </div>
  </div>
</section>

<section id="lessons-assessments" class="narrow bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
         <h2>{{gradeData[grade]['grade_title']}} Lessons &amp; Assessments</h2>
      </div>
    </div>

    {% if gradeData[grade]['materials'] %}

      <div class="row row-equal-heights margin-4-top">

      {% for gradeID in gradeData[grade]['materials'] %}
        {% if materialsData[gradeID] %}

          {% if materialsData[gradeID]['type'] == 'Assessment' %}
        
          <div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 text-center margin-4-bottom"> <!-- Assessment-specific styles -->
            <div class="row height-max">
              <div class="col-xs-12 text-center height-max">
                <div class="card bg-secondary padding-0 height-max"> <!-- Assessment-specific styles -->
                  <div class="card-body padding-0">
                    <div class="asset-placeholder asset-placeholder-short"> <!-- Assessment-specific styles -->
                      <div class="asset-placeholder-inner">
                        <div class="asset-placeholder-contents assessment-progress assessment-progress-{{materialsData[gradeID]['num']}}">
                          <svg viewBox="0 0 1140 380" xmlns="http://www.w3.org/2000/svg">
                            <g>
                             <title>Background</title>
                             <rect fill="none" id="canvas_background" height="382" width="1142" y="-1" x="-1"/>
                             <g display="none" overflow="visible" y="0" x="0" height="100%" width="100%" id="canvasGrid">
                              <rect fill="url(#gridpattern)" stroke-width="0" y="0" x="0" height="100%" width="100%"/>
                             </g>
                            </g>
                            <g>
                             <title>Progress</title>
                             <line stroke="#337ab7" stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_1" y2="190" x2="523.02211" y1="190" x1="201.66385" stroke-width="10" fill="none"/>
                             <ellipse class="circle1" ry="43.99795" rx="43.99795" id="svg_3" cy="190.00001" cx="154.65944" stroke-width="10" stroke="#337ab7" fill="#337ab7"/>
                             <ellipse class="circle2" ry="43.99795" rx="43.99795" id="svg_5" cy="190.00001" cx="570.00002" stroke-width="10" stroke="#337ab7" fill="#337ab7"/>
                             <ellipse class="circle3" ry="43.99795" rx="43.99795" id="svg_4" cy="190.00001" cx="985" stroke-width="10" stroke="#337ab7" fill="#337ab7"/>
                             <line stroke="#337ab7" stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_6" y2="190" x2="938.33609" y1="190" x1="617" stroke-width="10" fill="none"/>
                            </g>
                           </svg>
                        </div>
                      </div>
                    </div>
                    <div class="card-contents padding-2">
                      <h3>{{materialsData[gradeID]['type']}} {{materialsData[gradeID]['num']}}: {{materialsData[gradeID]['title']}}</h3>
                      <div class="row">
                        <div class="col-xs-12 center">
                          <div class="tag tag-inline">
                            {{ iconMap[materialsData[gradeID]['mode']]|safe }}
                            {{ materialsData[gradeID]['mode'] }}
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12">
                          <p>
                            {{materialsData[gradeID]['description']}}
                          </p>
                        </div>
                      </div>
                      <!-- <div>
                        <div class="tag tag-inline">
                          Sequence
                        </div>
                        <div class="tag tag-inline">
                          Decomposition
                        </div>
                        <div class="tag tag-inline">
                          Fractions
                        </div>
                      </div> -->
                      <div class="row margin-2-top">
                        <div class="col-xs-12">
                          <a href="./{{gradeID}}" class="btn btn-default btn-primary btn-xl"> <!-- Assessment-specific styles -->
                            View {{materialsData[gradeID]['title']}}
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          {% endif %}

          {% if materialsData[gradeID]['type'] == 'Lesson' %}
        
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 text-center margin-4-bottom"> <!-- Lesson-specific styles -->
              <div class="row height-max">
                <!-- <div class="col-xs-12 col-md-10 col-md-offset-1 text-center height-max"> -->
                <div class="col-xs-12 text-center height-max">
                  <div class="card bg-primary padding-0 height-max"> <!-- Lesson-specific styles -->
                    <div class="card-body padding-0">
                      
                      {% if materialsData[gradeID]['cover_img'] %}
                      
                      <div class="asset-placeholder asset-placeholder-widescreen"> <!-- Lesson-specific styles -->
                        <div class="asset-placeholder-inner">
                          <div class="card-thumb asset-placeholder-contents"
                            style="background-image: url('{{ materialsData[gradeID]['cover_img']['url'] }}');"
                            class=""> <!-- Lesson-specific styles -->
                          </div>
                        </div>
                      </div>

                      {% else %}

                      <div class="asset-placeholder asset-placeholder-widescreen"> <!-- Lesson-specific styles -->
                        <div class="asset-placeholder-inner">
                          <div class="asset-placeholder-contents">
                            Placeholder Image
                          </div>
                        </div>
                      </div>

                      {% endif %}

                      <div class="card-contents padding-2">
                        <h3>{{materialsData[gradeID]['type']}} {{materialsData[gradeID]['num']}}: {{materialsData[gradeID]['title']}}</h3>
                        <div class="row">
                          <div class="col-xs-12 center">
                            <div class="tag tag-inline">
                              {{ iconMap[materialsData[gradeID]['mode']]|safe }}
                              {{ materialsData[gradeID]['mode'] }}
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12">
                            <p>
                              {{materialsData[gradeID]['description']}}
                            </p>
                          </div>
                        </div>
                        <!-- <div>
                          <div class="tag tag-inline">
                            Sequence
                          </div>
                          <div class="tag tag-inline">
                            Decomposition
                          </div>
                          <div class="tag tag-inline">
                            Fractions
                          </div>
                        </div> -->
                        <div class="row margin-2-top">
                          <div class="col-xs-12">
                            <a href="./{{gradeID}}" class="btn btn-default btn-secondary btn-xl"> <!-- Lesson-specific styles -->
                              View {{materialsData[gradeID]['title']}}
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          {% endif %}

        {% endif %}
      {% endfor %}

      </div>

    {% endif %}


    <!-- <div class="row row-equal-heights margin-4-top">
      <div class="col-xs-12 col-sm-6 text-center margin-4-bottom">
        <div class="row height-max">
          <div class="col-xs-12 col-md-10 col-md-offset-1 text-center height-max">
            <div class="card bg-primary padding-0 height-max">
              <div class="card-body padding-0">
                <div class="asset-placeholder asset-placeholder-widescreen">
                  <div class="asset-placeholder-inner">
                    <div class="asset-placeholder-contents">
                      Image
                    </div>
                  </div>
                </div>
                <div class="card-contents padding-2">
                  <h3>Lesson 1: Brownie Bites</h3>
                  <div class="row margin-2-top">
                    <div class="col-xs-12">
                      <p>
                        Children review equal shares by dividing a brownie into four equal shares, and reinforces the idea that shares can be equal size, even if they are different shapes.
                      </p>
                    </div>
                  </div>
                  <div>
                    <div class="tag tag-inline">
                      Sequence
                    </div>
                    <div class="tag tag-inline">
                        Decomposition
                    </div>
                    <div class="tag tag-inline">
                        Fractions
                    </div>
                  </div>
                  <div class="row margin-2-top">
                    <div class="col-xs-12">
                      <a href="./brownie-bites" class="btn btn-default btn-xl">
                        View Brownie Bites
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 text-center margin-4-bottom">
        <div class="row height-max">
          <div class="col-xs-12 col-md-10 col-md-offset-1 text-center height-max">
            <div class="card bg-primary padding-0 height-max">
              <div class="card-body padding-0">
                <div class="asset-placeholder asset-placeholder-widescreen">
                  <div class="asset-placeholder-inner">
                    <div class="asset-placeholder-contents">
                      Image
                    </div>
                  </div>
                </div>
                <div class="card-contents padding-2">
                  <h3>Lesson 2: Animal Number Story</h3>
                  <div class="row margin-2-top">
                    <div class="col-xs-12">
                      <p>
                        Children learn how to access the Scratch website and their class's projects. They explore the Scratch workspace and understand the components. Children use and remix a simple project illustrating a number story.
                      </p>
                    </div>
                  </div>
                  <div>
                    <div class="tag tag-inline">
                      Scratch Basics
                    </div>
                    <div class="tag tag-inline">
                        Addition
                    </div>
                  </div>
                  <div class="row margin-2-top">
                    <div class="col-xs-12">
                      <a href="./animal-number-story" class="btn btn-default btn-xl">
                        View Animal Number Story
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- <div class="row row-equal-heights">
      <div class="col-xs-12 col-sm-6 text-center margin-4-bottom">
        <div class="row height-max">
          <div class="col-xs-12 col-md-10 col-md-offset-1 text-center height-max">
            <div class="card bg-primary padding-0 height-max">
              <div class="card-body padding-0">
                <div class="asset-placeholder asset-placeholder-widescreen">
                  <div class="asset-placeholder-inner">
                    <div class="asset-placeholder-contents">
                      Image
                    </div>
                  </div>
                </div>
                <div class="card-contents padding-2">
                  <h3>Lesson 1: Brownie Bites</h3>
                  <div class="row margin-2-top">
                    <div class="col-xs-12">
                      <p>
                        Children review equal shares by dividing a brownie into four equal shares, and reinforces the idea that shares can be equal size, even if they are different shapes.
                      </p>
                    </div>
                  </div>
                  <div>
                    <div class="tag tag-inline">
                      Sequence
                    </div>
                    <div class="tag tag-inline">
                        Decomposition
                    </div>
                    <div class="tag tag-inline">
                        Fractions
                    </div>
                  </div>
                  <div class="row margin-2-top">
                    <div class="col-xs-12">
                      <a href="./brownie-bites" class="btn btn-default btn-xl">
                        View Brownie Bites
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 text-center margin-4-bottom">
        <div class="row height-max">
          <div class="col-xs-12 col-md-10 col-md-offset-1 text-center height-max">
            <div class="card bg-primary padding-0 height-max">
              <div class="card-body padding-0">
                <div class="asset-placeholder asset-placeholder-widescreen">
                  <div class="asset-placeholder-inner">
                    <div class="asset-placeholder-contents">
                      Image
                    </div>
                  </div>
                </div>
                <div class="card-contents padding-2">
                  <h3>Lesson 2: Animal Number Story</h3>
                  <div class="row margin-2-top">
                    <div class="col-xs-12">
                      <p>
                        Children learn how to access the Scratch website and their class's projects. They explore the Scratch workspace and understand the components. Children use and remix a simple project illustrating a number story.
                      </p>
                    </div>
                  </div>
                  <div>
                    <div class="tag tag-inline">
                      Scratch Basics
                    </div>
                    <div class="tag tag-inline">
                        Addition
                    </div>
                  </div>
                  <div class="row margin-2-top">
                    <div class="col-xs-12">
                      <a href="./animal-number-story" class="btn btn-default btn-xl">
                        View Animal Number Story
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    
  </div>
</section>

<section id="about" class="narrow">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2>About Action Fractions</h2>
        <hr>
      </div>
      <div class="col-xs-12 text-center">
        <p>
          Action Fractions is a National Science Foundation (NSF) funded partnership (award number 1932920)
          between the
          University of Chicago STEM Education center,
          the University of Florida,
          the University of Illinois at Chicago,
          Loyola University Chicago,
          and the University of Illinois at Urbana-Champaign.
          The project is focused on the development of integrated mathematics (fractions) and computational
          thinking (CT) learning materials for third and fourth graders. While the project was originally
          developed for use with the Everyday Mathematics curriculum, the activities may be used with any
          mathematics curriculum.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- <section id="lessons-video">
  <div class="container">
    <div class="row sample-items nodecor isotope-grid">
      <div class="col-lg-4 col-md-6 col-sm-12 text-center isotope-grid-item card grade-3 type-unplugged">
        <img src="/static/img/lessons/lesson-brownie-bits.webp"
          class="sample-lesson"
          alt="Brownie Bits lesson" />
        <h3>Brownie Bits</h3>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 text-center isotope-grid-item card grade-3">
        <img src="/static/img/lessons/lesson-animal-number-story.webp"
          class="sample-lesson"
          alt="Animal Number Story lesson" />
        <h3>Animal Number Story</h3>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 text-center isotope-grid-item card grade-3">
        <img src="/static/img/lessons/lesson-sharing-equally.webp"
          class="sample-lesson"
          alt="Sharing Equally lesson" />
        <h3>Sharing Equally</h3>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 text-center isotope-grid-item card grade-4">
        <img src="/static/img/lessons/lesson-introducing-conditionals-rounding-shortcut.webp"
          class="sample-lesson"
          alt="Introducing Conditionals: A Rounding Shortcut lesson" />
        <h3>Introducing Conditionals: A Rounding Shortcut</h3>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 text-center isotope-grid-item card grade-4">
        <img src="/static/img/lessons/lesson-zoo-animals.webp"
          class="sample-lesson"
          alt="Zoo Animals lesson" />
        <h3>Zoo Animals</h3>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 text-center isotope-grid-item card grade-4">
        <img src="/static/img/lessons/lesson-robot-boxes.webp"
          class="sample-lesson"
          alt="Robot Boxes lesson" />
        <h3>Robot Boxes</h3>
      </div>
    </div>
  </div>
</section> -->

<!-- <aside class="bg-dark" id="more-lessons">
  <div class="container text-center">
    <div class="call-to-action">
      <h2>Interested in seeing more Action Fractions lessons?</h2>
      <a href="https://www.canonlab.org/actionfractionslessons" class="btn btn-default btn-xl wow tada">View our Action Fractions Lessons</a>
      </div>
  </div>
</aside> -->

<!-- <section class="bg-dark">
    <div class="container text-center">
      
    </div>
  </section> -->

{% endblock %}
