{% set includeIsotope = true %}
{% extends "templates/public_base_template.html" %}

{% block body %}

<style>
.isotope-grid > .isotope-grid-item {
  height: 450px;
}
</style>

<!-- Isotope implementation -->
<script>

  var iso = new Isotope( '.isotope-grid', {
  itemSelector: '.isotope-grid-item',
  layoutMode: 'fitRows'
});

document.addEventListener("DOMContentLoaded", function(){
  var filtersElem = document.querySelector('.filter-button-group');
  filtersElem.addEventListener( 'click', function( event ) {
    // only work with buttons
    if ( !matchesSelector( event.target, 'button' ) ) {
      return;
    }
    var filterValue = event.target.getAttribute('data-filter');
    // use matching filter function
    // filterValue = filterFns[ filterValue ] || filterValue;
    iso.arrange({ filter: filterValue });
  });
});

// jQuery(document).ready(function() {
//   var $grid = $('.isotope-grid').isotope({
//       itemSelector: '.isotope-grid-item',
//   });

//   $('.filter-button-group').on( 'click', 'button', function() {
//     var filterValue = $(this).attr('data-filter');
//     $grid.isotope({ filter: filterValue });
//  });
// });
</script>

<section class="bg-primary" id="intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Action Fractions Lessons</h2>
        <hr class="light">
        <br>
        <p class="text-faded">
          Action Fractions is a cohesive sequence of activities designed to align with math standards for fraction instruction in 3rd and 4th grade as well as Computational Thinking (CT) learning goals drawn from learning trajectories for sequence, conditionals, iteration, and debugging.
        </p>
        <!-- <a id="vis-btn" href="#about" class="btn btn-primary btn-xl page-scroll">About Action Fractions</a>
        &nbsp;
        <a id="vis-btn" href="#lesson-fraction-circles" class="btn btn-primary btn-xl page-scroll">Sample Lesson: Fraction Circles 1</a>
        &nbsp;
        <a id="vis-btn" href="#lesson-frog-fly" class="btn btn-primary btn-xl page-scroll">Sample Lesson: The Frog and the Fly</a>
        &nbsp;
        <a id="vis-btn" href="#more-lessons" class="btn btn-primary btn-xl page-scroll">More Lessons</a> -->
      </div>
    </div>
  </div>
</section>

<section id="all-lesson">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12 text-center">
        <h2>All Lessons</h2>
        <hr>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-12 text-center">
        <p>
          Select filters below to refine the list of assessments you're interested in.
        </p>
        <h3>Grade Level</h3>
        <div class="button-group filter-button-group">
          <button class="btn btn-primary" data-filter="*">All</button>
          <button class="btn btn-secondary" data-filter=".frog">3rd Grade</button>
          <button class="btn btn-secondary" data-filter=".scratch">4th Grade</button>
        </div>
        <!-- Removed for now, per Carla's suggestion -->
        <!-- <h3>Topic</h3>
        <div class="button-group filter-button-group">
          <button class="btn btn-primary" data-filter="*">All</button>
          <button class="btn btn-secondary" data-filter=".sequence">Sequence</button>
          <button class="btn btn-secondary" data-filter=".decomposition">Decomposition</button>
          <button class="btn btn-secondary" data-filter=".fractions">Fractions</button>
          <button class="btn btn-secondary" data-filter=".scratch-basics">Scratch Basics</button>
          <button class="btn btn-secondary" data-filter=".addition">Addition</button>
        </div> -->
        <h3>Type</h3>
        <div class="button-group filter-button-group">
          <button class="btn btn-primary" data-filter="*">All</button>
          <button class="btn btn-secondary" data-filter=".unplugged">Unplugged</button>
          <button class="btn btn-secondary" data-filter=".plugged">Plugged</button>
        </div>
      </div>
    </div>
    <div class="row align-items-center sample-items nodecor isotope-grid"> <!-- data-isotope='{ "itemSelector": ".isotope-grid-item", "layoutMode": "fitRows" }'> -->
      <div class="col-lg-4 col-md-6 col-sm-12 text-center isotope-grid-item card grade-3 type-unplugged">
        <img src="/static/img/lessons/lesson-brownie-bits.webp"
          class="sample-lesson"
          alt="Brownie Bits lesson" />
        <h3>Brownie Bits</h3>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 text-center isotope-grid-item card grade-3">
        <img src="/static/img/lessons/lesson-animal-number-story.webp"
          class="sample-lesson"
          alt="Animal Number Story lesson" />
        <h3>Animal Number Story</h3>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 text-center isotope-grid-item card grade-3">
        <img src="/static/img/lessons/lesson-sharing-equally.webp"
          class="sample-lesson"
          alt="Sharing Equally lesson" />
        <h3>Sharing Equally</h3>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 text-center isotope-grid-item card grade-4">
        <img src="/static/img/lessons/lesson-introducing-conditionals-rounding-shortcut.webp"
          class="sample-lesson"
          alt="Introducing Conditionals: A Rounding Shortcut lesson" />
        <h3>Introducing Conditionals: A Rounding Shortcut</h3>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 text-center isotope-grid-item card grade-4">
        <img src="/static/img/lessons/lesson-zoo-animals.webp"
          class="sample-lesson"
          alt="Zoo Animals lesson" />
        <h3>Zoo Animals</h3>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 text-center isotope-grid-item card grade-4">
        <img src="/static/img/lessons/lesson-robot-boxes.webp"
          class="sample-lesson"
          alt="Robot Boxes lesson" />
        <h3>Robot Boxes</h3>
      </div>
    </div>
  </div>
</section>

<aside class="bg-dark" id="more-lessons">
  <div class="container text-center">
    <div class="call-to-action">
      <h2>Interested in seeing more Action Fractions lessons?</h2>
      <a href="https://www.canonlab.org/actionfractionslessons" class="btn btn-default btn-xl wow tada">View our Action Fractions Lessons</a>
      </div>
  </div>
</aside>

<!-- <section class="bg-dark">
    <div class="container text-center">
      
    </div>
  </section> -->

{% endblock %}
