{% extends "templates/public_base_template.html" %}

{% block body %}

<section class="bg-primary" id="intro">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Publications & Presentations</h2>
				<hr class="light">
				<br>
				<a id="vis-btn" href="#publications" class="btn btn-primary btn-xl page-scroll">Publications</a>
				&nbsp;
				<a id="vis-btn" href="#presentations" class="btn btn-primary btn-xl page-scroll">Presentations</a>
				&nbsp;
				<a id="vis-btn" href="#posters" class="btn btn-primary btn-xl page-scroll">Posters</a>
			</div>
		</div>
	</div>
</section>

<section id="publications">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Publications</h2>
				<hr>
			</div>
		</div> <!-- /.row -->
		<div class="row">
			<div class="col-lg-12 text-left">
				<h3 class="text-center">2021</h3>
				<ol class="hangingindent">
					<li>Strickland, C., Rich, K. M., Eatinger, D., Lash, T., Isaacs, A., Israel, M., & Franklin, D. (2021, March). Action Fractions: The design and pilot of an integrated math CS elementary curriculum based on learning trajectories. In <em>Proceedings of the 2021 ACM SIGCSE Technical Symposium on Computer Science Education</em>. ACM.</li>
				</ol>
			</div>
		</div> <!-- /.row -->
		
		<div class="row">
			<div class="col-lg-12 text-left">
				<h3 class="text-center">2020</h3>
				<ol class="hangingindent">
					<li>Gane, B. D., Elagha, N., Luo, F., Liu, R., Yan, W., Strickland, C., Franklin, D., Rich, K., Pellegrino, J., & Israel, M. (2020, June). Developing computational thinking assessments for elementary students: Connecting cognition, observation, and interpretation. In the <em>Proceedings of the 14th International Conference of the Learning Sciences (ICLS) 2020</em>. Nashville, TN: International Society of the Learning Sciences.</li>
					<li>Luo, F., Israel, M., Liu, R., Yan, W., Gane, B., and Hampton, J. (2020, February). <a href="https://dl.acm.org/doi/abs/10.1145/3328778.3366845">Understanding students’ computational thinking through cognitive interviews: A learning trajectory-based analysis</a>. In <em>SIGCSE '20: Proceedings of the 51st Association for Computing Machinery (ACM) Technical Symposium on Computer Science Education</em> (pp. 919-925). ACM.</li>
				</ol>
			</div>
		</div> <!-- /.row -->
		<div class="row">
			<div class="col-lg-12 text-left">
				<h3 class="text-center">2019</h3>
				<ol class="hangingindent">
					<li>Israel, M., &amp; Lash, T. (2019, October). <a href="https://doi.org/10.1080/10494820.2019.1674879">From classroom lessons to exploratory learning progressions: mathematics + computational thinking</a>. In <em>Interactive Learning Environments</em> (pp. 362-382). DOI: 10.1080/10494820.2019.1674879.</li>
					<li>Rich, K. M., Spaepen, E., Strickland, C., & Moran, C. (2019, May). <a href="https://doi.org/10.1080/10494820.2019.1612445">Synergies and differences in mathematical and computational thinking: implications for integrated instruction</a>. In <em>Interactive Learning Environments</em> (pp. 272-283). DOI: 10.1080/10494820.2019.1612445</li>
					<li>Rich, K. M., Binkowski, T. A., Strickland, C., &amp; Franklin, D. (2019, February). <a href="https://dl.acm.org/citation.cfm?id=3287396">A K-8 Debugging Learning Trajectory Derived from Research Literature</a>. In <em>SIGCSE '19: Proceedings of the 50th Association for Computing Machinery (ACM) Technical Symposium on Computer Science Education</em> (pp. 745–751). ACM.</li>
				</ol>
			</div>
		</div> <!-- /.row -->
		<div class="row">
			<div class="col-lg-12 text-left">
				<h3 class="text-center">2018</h3>
				<ol class="hangingindent">
					<li>Rich, K. M., Binkowski, T. A., Strickland, C., &amp; Franklin, D. (2018, August). <a href="https://dl.acm.org/citation.cfm?id=3230979">Decomposition: A K-8 Computational Thinking Learning Trajectory</a>. In <em>ICER '18: Proceedings of the 2018 Association for Computing Machinery (ACM) Conference on International Computing Education Research</em> (pp. 124–132). ACM.</li>
				</ol>
			</div>
		</div> <!-- /.row -->
		<div class="row">
			<div class="col-lg-12 text-left">
				<h3 class="text-center">2017</h3>
				<ol class="hangingindent">
					<li>Rich, K. M., Strickland, C., Binkowski, A., Moran, C., &amp; Franklin, D. (2017, August). <a href="http://dl.acm.org/citation.cfm?id=3106166&CFID=797810216&CFTOKEN=11574041">K-8 Learning Trajectories Derived from Research Literature: Sequence, Repetition, Conditionals</a>. In <em>ICER '17: Proceedings of the 2017 Association for Computing Machinery (ACM) Conference on International Computing Education Research</em> (pp. 182–190). ACM.<!--Tacoma, WA.--></li>
					<li>Rich, K., Strickland, C., Franklin, D. (2017, March). <a href="http://dl.acm.org/citation.cfm?id=3017772&amp;CFID=786772246&amp;CFTOKEN=85602627">A Literature Review through the Lens of Computer Science Learning Goals Theorized and Explored in Research</a>. In <em>SIGCSE '17: Proceedings of the 2017 ACM SIGCSE Technical Symposium on Computer Science Education</em> (pp. 495-500). ACM.<!--Seattle, WA.--></li>
				</ol>
			</div>
		</div> <!-- /.row -->
	</div> <!-- /.container -->
</section> <!-- /#publications -->

<section class="bg-primary" id="presentations">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Presentations</h2>
				<hr class="light">
			</div>
		</div> <!-- /.row -->
		<div class="row">
			<div class="col-lg-12 text-left">
				<h3 class="text-center">2020</h3>
				<ol class="hangingindent">
					<li>Israel, M., Marsland, W., & Lash, T. (2020, July). <em>Strategies for Using Universal Design for Learning in Elementary CS to Engage All Learners</em>. Presentation at the Computer Science Teachers Association (CSTA) national conference. Arlington, VA.</li>
					<li>Franklin, D., Strickland, C., Eatinger, D., Rich, K., White, M., Anaya, M. & Isaacs, A. (2020, April). <em><a href="http://tinyurl.com/vdxhlco">Unit Fraction Sums +CT Integrated Activity: Challenges and Implications</a></em>. Paper Session at 2020 American Educational Research Association (AERA) annual meeting, San Francisco, CA. (Conference Canceled)</li>
					<li>Gane, B. D., Elagha, N., Luo, F., Liu, R., Yan, W., Strickland, C., Franklin, D., Rich, K., Pellegrino, J. W. & Israel, M. (2020, April). <em><a href="http://tinyurl.com/svdtn7j">Developing Computational Thinking Assessments From Learning Trajectories: Design Approach and Preliminary Validity Evidence</a></em>. Paper Session at 2020 American Educational Research Association (AERA) annual meeting, San Francisco, CA. (Conference Canceled)</li>
					<!-- <li>Gane, B., Elagha, N., Luo, F., Liu, R., Yan, W., Strickland, C., Franklin, D., Rich, K., Pellegrino, J., Israel, M. (2020, April). Developing computational thinking assessments from learning trajectories: Design approach and preliminary validity evidence. Paper presented at the <em>2020 American Educational Research Association annual meeting</em>, San Francisco, CA. (Conference canceled)</li> -->
					<li>Israel, M. (2020, February). <em>Meaningful inclusion of K-12 students with disabilities in computer science education</em> [Conference session]. Council for Exceptional Children Annual Conference, Portland, OR.</li>
				</ol>
			</div>
		</div> <!-- /.row -->
		<div class="row">
			<div class="col-lg-12 text-left">
				<h3 class="text-center">2019</h3>
				<ol class="hangingindent">
					<li>Isaacs, A., Strickland, C., Rich, K., Eatinger, D., & Franklin, D. (2019, July). <em>Integration CT+X: A workshop to plan your integration activities</em>. Workshop presented at the annual meeting of the Computer Science Teachers Association (CSTA), Phoenix, AZ.</li>
					<!-- <li>Israel, M. (2019, May). Invited presentation: <em>Meaningful inclusion of all students in computer science education through the Universal Design for Learning (UDL) Framework</em>. Annual summit of the National Center for Women & Information Technology (NCWIT), Nashville, TN.</li> -->
					<!-- <li>Israel, M. (2019, March). Invited keynote presentation: <em>Implementation of UDL in elementary and middle school computer science education</em>. Annual conference of the Universal Design for Learning Implementation and Research Network, Orlando, FL.</li> -->
					<li>Franklin, D. (2019, March). <em><a href="https://whova.com/embedded/subsession/sigcs_201902/488447/488449/">An Analysis through an Equity Lens of the Implementation of Computer Science in K-8 Classrooms in a Large, Urban School District</a></em>. 50th Technical Symposium on Computer Science Education, Association for Computing Machinery Special Interest Group for Computer Science Education National Conference (SIGCSE), Minneapolis, MN.</li>
					<li>Rich, K., Strickland, C., Franklin, D. (2019, March) <a href="https://whova.com/embedded/session/sigcs_201902/488360/"><em>A K-8 Debugging Learning Trajectory Derived from Research Literature</em></a>. 50th Technical Symposium on Computer Science Education, Association for Computing Machinery Special Interest Group for Computer Science Education National Conference (SIGCSE), Minneapolis, MN. <a href="/static/img/publications/Debugging-Trajectory-SIGCSE-2019-presentation-and-paper.pdf">[View "K-8 Debugging Learning Trajectory" presentation and paper in combined PDF]</a></li>
					<li>Israel, M., Hafeez, S., Schanzer, E., Dovi, R., Koslow, E., & Lash, T. (2019, February). Panel: <em><a href="https://whova.com/embedded/session/sigcs_201902/488467/">Making K-12 CS Education Accessibility a Norm, not an Exception</a></em>. In Proceedings of the 50th ACM Technical Symposium on Computer Science Education (pp. 1232-1233). ACM.</li>
					<li>Franklin, D. (2019, February). <a href="https://whova.com/embedded/session/respe_201902/499024/?view=">Plenary Session: <em>CS for PreK-8: Theory and Practice Supporting Broadening Participation</em></a>. Fourth international conference on Research in Equity and Sustained Participation in Engineering, Computing, and Technology (RESPECT), Minneapolis, MN.</li>
					<!-- <p>Israel, M., & Lash, T. (2019, January). Invited webinar presentation: <em>Accessibility and inclusion in K-12 computer science education: Meeting the needs of students with disabilities in the CS for All movement</em>. ADA National Network & the Great Lakes ADA Center.</p> -->
				</ol>
			</div>
		</div> <!-- /.row -->
		<div class="row">
			<div class="col-lg-12 text-left">
				<h3 class="text-center">2018</h3>
				<ol class="hangingindent">
					<!-- <li>Israel, M. (2018, November). Invited international lecture: <em>Teaching computer science to young learners in gamified environments: Implications for supporting struggling learners</em>. Media Education Summit: Inclusive Worlds of Games; Clash of Realities. Cologne, Germany.</li> -->
					<li>Israel, M. (2018, November). <em>Research Spotlight Session: Pedagogical approaches for including students with disabilities in Computer Science for All (CS for All)</em>. Presentation at the Teacher Education Division of the Council for Exceptional Children Annual Meeting. Las Vegas, NV.</li>
					<!-- <li>Israel, M., & Jeong, G. (2018, November). <em>Comparison of school-embedded and district-wide coaching in K-8 computer science: Implications for including students with disabilities</em>. Presentation at the Teacher Education Division of the Council for Exceptional Children Annual Meeting. Las Vegas, NV.</li> -->
					<!-- <li>Boyce, M., Ladner, R., Israel, M., & Lash, T. (2018, October). <em>CS for All Accessibility Pledge</em>. CS for All Summit. Detroit, MI.</li> -->
					<!-- ?? Missing ICER ?? (2018, August) -->
					<!-- <li>Israel, M., Lash, T., & Maa, W. (2018, July). <em>Strategies for assistive struggling learners in elementary CS classrooms</em>. Computer Science Teachers Association (CSTA) Annual Meeting. Omaha, NE.</li> -->
					<li>Rich, K. M. (2018, June). Learning trajectories for everyday computing. In J. Confrey (Chair), <em>The Ongoing Process of Validating and/or Adapting Learning Trajectories Over Time</em>. Symposium conducted at the National Science Foundation Discovery Research K-12 and STEM+Computing Principal Investigator meeting, Washington, DC.</li>
					<!-- <li>Israel, M. & Diaz, L. (2018, May). <em>State-level initiatives to address diversity in CS</em>. Infosys Foundation USA CrossRoads meeting. Scotts Valley, CA.</li> -->
					<!-- <li>Israel, M., Lash, T., Bergeron, L., & Ray, M.  (2018, April). <em>Planning K-8 computer science instruction through the UDL Framework</em>. Universal Design for Learning Implementation and Research Network National Conference. Orlando, FL.</li> -->
					<li>Israel, M., Lash, T. (2018, February) <a href="https://whova.com/embedded/session/sigsc_201802/304141/"><em>Everyday Computing: Integrating Computational Thinking into Elementary Mathematics</em></a>. 49th Technical Symposium on Computer Science Education, Association for Computing Machinery Special Interest Group for Computer Science Education National Conference (SIGCSE), Baltimore, MD.</li>
				</ol>
			</div>
		</div> <!-- /.row -->
		<div class="row">
			<div class="col-lg-12 text-left">
				<h3 class="text-center">2017</h3>
				<ol class="hangingindent">
					<li>Lash, T., & Israel, M. (2017, July). <em>Emerging strategies for struggling learners in integrated mathematics and CS classrooms in the elementary grades</em>. Presentation at the Computer Science Teachers Association (CSTA) national conference. Baltimore, MD.</li>
					<li>Israel, M., Wherfel, Q. M., &amp; Pokimica, J. (2017, April). <em>Classroom lessons to learning trajectories: Mathematics + computational thinking.</em> Paper presented at the American Educational Research Association National Meeting, San Antonio, TX.</li>
					<li>Isaacs, A., Moran, C., &amp; Rich, K. (2017, April). <em>Bringing Computational Thinking into Elementary Mathematics.</em> Presentation at the National Council of Teachers of Mathematics Annual Meeting, San Antonio, TX.</li>
				</ol>
			</div>
		</div> <!-- /.row -->
		<div class="row">
			<div class="col-lg-12 text-left">
				<h3 class="text-center">2016</h3>
				<ol class="hangingindent">
					<li>Binkowski, T. A., &amp; Rich, K. (2016, October). <em>Using Computation to Define Computational Thinking.</em> Presentation at the Illinois Council of Teachers of Mathematics Annual Meeting, Peoria, IL.</li>
					<li>Isaacs, A. (2016, October). <em>Computer Science for All: Lessons Learned from Mathematics.</em> Presentation at the Joint conference of the Illinois council for Teachers of Mathematics and the Illinois Science Teachers Association, Peoria, IL.</li>
				</ol>
			</div>
		</div> <!-- /.row -->
	</div> <!-- /.container -->
</section> <!-- /#publications -->

<section id="posters">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Posters</h2>
				<hr>
			</div>
		</div> <!-- /.row -->
		<div class="row">
			<div class="col-lg-12 text-left">
				<h3 class="text-center">2019</h3>
				<ol class="hangingindent">
					<li>Isaacs, A. (2019, October). <em><a href="/static/img/publications/ICTM_Poster_2019.pdf">Fractions + Computational Thinking (with Scratch)</a>.</em> Poster presented at the 2019 Illinois Council of Teachers of Mathematics (ICTM) Annual Meeting, Peoria, IL.</li>
					<li>Strickland, C., Rich, K., Liao, Y.-C. J., Eatinger, D., Franklin, D., & Isaacs, A. (2019, April). <em><a href="https://docs.google.com/document/d/14JFggH7Y9od7Glmc8gCs1YpGFbMf8n3tsJxV0pGPsEI/edit?usp=sharing">Intentionality in elementary programming: From debugging to planning</a>.</em> Poster presented at the inaugural Symposium on Computer Science and Learning Sciences, Evanston, IL. <a href="/static/img/publications/Intentionality-SymposiumPoster2019.pdf">[View "Intentionality in elementary programming" poster]</a></li>
					<li>Lash, T. (2019, March). <em><a href="https://whova.com/embedded/session/sigcs_201902/501836/">Building Trust in Computer Science Research-Practice Partnerships: A Theme Study</a>.</em> Poster presented at the 50th Technical Symposium on Computer Science Education, Association for Computing Machinery Special Interest Group for Computer Science Education National Conference (SIGCSE), Minneapolis, MN. <a href="/static/img/publications/SIGCSE-2019-Trust-Theme-Study-Poster.pdf">[View "Building Trust" poster]</a></li>
				</ol>
			</div>
		</div> <!-- /.row -->
		<div class="row">
			<div class="col-lg-12 text-left">
				<h3 class="text-center">2018</h3>
				<ol class="hangingindent">
					<li>Rich, K. M., Binkowski, T. A., Strickland, C., &amp; Franklin, D. (2018, August). <em><a href="https://icer.acm.org/icer-2017/schedule/">Decomposition: A K-8 Computational Thinking Learning Trajectory</a>.</em> Poster presented at the 2018 ACM Conference on International Computing Education Research (ICER), Espoo, Finland.</li>
				</ol>
			</div>
		</div> <!-- /.row -->
		<div class="row">
			<div class="col-lg-12 text-left">
				<h3 class="text-center">2017</h3>
				<ol class="hangingindent">
					<li>Rich, K. M., Strickland, C., Binkowski, A., Moran, C., &amp; Franklin, D. (2017, August). <em><a href="https://icer.acm.org/icer-2017/schedule/">K-8 Learning Trajectories Derived from Research Literature: Sequence, Repetition, Conditionals</a>.</em> Poster presented at the 2017 ACM Conference on International Computing Education Research (ICER), Tacoma, WA.</li>
					<li>Rich, K., Pokimica, J., Wherfel, Q., Strickland, C., &amp; Moran, C. (2017, April). <em><a href="http://www.aera.net/Publications/Online-Paper-Repository/AERA-Online-Paper-Repository/Owner/984843">Building Mathematics + Computational Thinking Trajectories From Existing Literature</a>.</em> Poster presented at the 2017 American Educational Research Association Annual Meeting, San Antonio, TX.</li>
					<li>Israel, M., Lash, T., &amp; Reese, G. (2017, March). <em>Emerging learning progressions in K-5 integrated mathematics and computer science lesson plans.</em> Poster presented at the 48th Technical Symposium on Computer Science Education, Association for Computing Machinery Special Interest Group for Computer Science Education National Conference (SIGCSE), Seattle, WA.</li>
					<li>Israel, M., Pokimica, J., Wherfel, Q., &amp; Reese, G. (revised and resubmitted). <em>Integrating computer science into elementary mathematics: Cross-case analysis of classroom implementation.</em> Journal for Research in Mathematics Education.</li>
				</ol>
			</div>
		</div> <!-- /.row -->
	</div> <!-- /.container -->
</section> <!-- /#publications -->

{% endblock %}
