{% extends "templates/public_base_template.html" %}

{% block body %}


<section class="bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="section-heading">Videos</h1>
        <hr class="light">
        <p class="text-faded">
          <!-- Overview of our videos goes here. -->
        </p>
      </div>
    </div>
  </div>
</section>



<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <p>Videos go here</p>
      </div>
    </div>
  </div>
</section>

<aside class="bg-dark">
  <div class="container text-center">
    <!--<div class="call-to-action">
     <h2>Free Download at Start Bootstrap!</h2>
     <a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a>
     </div>
     -->
  </div>
</aside>


{% endblock %}
