<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136182084-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-136182084-1');
  </script>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Everyday Computing</title>

  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css"> -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  <!-- Plugin CSS -->
  <link rel="stylesheet" href="/static/css/animate.min.css" type="text/css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/static/css/creative.css" type="text/css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" type="text/css">
  <link rel="stylesheet" href="/static/css/style.css" type="text/css"/>
  <link rel="stylesheet" href="/static/css/colors.css" type="text/css"/>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.12.3.js">
  </script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js">
  </script>

  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/plug-ins/1.10.15/dataRender/ellipsis.js">
  </script>

  {% if includeMagnific %}
    {% include "templates/include_magnific.html" %}
  {% endif %}
</head>

  <body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand page-scroll" href="/">Everyday Computing</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a class="page-scroll vis-list" href="/about/">About</a>
            </li>
            <li>
              <a class="page-scroll vis-list" href="https://blog.everydaycomputing.org">Blog</a>
            </li>
            <li>
              <a class="page-scroll vis-list" href="/publications/">Publications</a>
            </li>
            <li>
              <a class="page-scroll vis-list" href="/public/resource/">Resources</a>
            </li>
            <!--
            <li>
             <a class="page-scroll vis-list" href="/publications/">Publications</a>
            </li>
             <li>
             <a href="project/">Project</a>
             </li>
             <li>
             <a class="page-scroll" href="#contact">Contact</a>
             </li>
             -->
            <!-- <li>
              <a class="vis-list" href="/resource/">Login</a>
            </li> -->
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>


    {% block body %}
    {% endblock %}


    <footer>
      <a href="#page-top" class="toTop"><i class="fas fa-arrow-alt-circle-up text-primary" aria-hidden="true"></i><span class="sr-only">Back to top</span></a>
      <div class="container">
        <div class="row nsf">
          <div class="col-lg-2 col-md-3 col-sm-3 col-xs-5 nsf-logo">
            <img src="/static/img/logos/NSF_4-Color_bitmap_Logo.png" alt="Supported by the National Science Foundation (NSF)" />
          </div>
          <div class="col-lg-10 col-md-9 col-sm-9 col-xs-7 nsf-info">
            <p>This work is supported by the National Science Foundation (NSF) under <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1932920">Award Number 1932920</a></p>
          </div>
        </div>
        <div class="row footer-level2">
          <div class="col-md-8 col-sm-7 col-xs-6">
            <p class="copyright">Copyright &copy; Everyday Computing 2016 - <script>document.write(new Date().getFullYear());</script></p>
          </div>
          <div class="col-md-4 col-sm-5 col-xs-6 social-media">
            <a class="fab fa-twitter fa-5x wow bounceIn" href="https://twitter.com/everydayCS"><span class='sr-only'>Follow us on Twitter</span></a>
            <a class="fas fa-envelope fa-5x wow bounceIn" href="mailto:everydaycsproject@gmail.com"><span class='sr-only'>Contact us via email</span></a>
          </div>
        </div>
      </div>
    </footer>

    <!-- jQuery -->
    <!-- <script src="/static/js/jquery.js"></script> -->
    <!-- Bootstrap Core JavaScript -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/js/jquery.easing.min.js"></script>
    <script src="/static/js/jquery.fittext.js"></script>
    <script src="/static/js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/js/creative.js"></script>

  </body>

</html>
