{% extends "templates/public_base_template.html" %}

{% block body %}


<section class="bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="section-heading">Professional Development</h1>
        <hr class="light">
        <p class="text-faded">
          <!-- Overview of our professional development activities goes here.
          <br />Perhaps describe our over-arching philosophy and goals involving professional development? -->
        </p>
      </div>
    </div>
  </div>
</section>




<section class="pd-advert">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Action Fractions Professional Development Workshops</h2>
        <hr class="primary">
        <p class="pd-advert-tagline">
          No programming experience necessary!
        </p>
      </div>
    </div>
  </div>

  <!--
    Other possible icons:
      https://fontawesome.com/icons/hands?style=solid
      https://fontawesome.com/icons/hands-helping?style=solid
      https://fontawesome.com/icons/handshake?style=solid
      https://fontawesome.com/icons/layer-group?style=solid
      https://fontawesome.com/icons/people-carry?style=solid
      https://fontawesome.com/icons/tag?style=solid
      https://fontawesome.com/icons/concierge-bell?style=solid
      https://fontawesome.com/icons/comment?style=solid
      https://fontawesome.com/icons/comment?style=regular
      https://fontawesome.com/icons/comment-alt?style=solid
      https://fontawesome.com/icons/comment-alt?style=regular
      https://fontawesome.com/icons/code?style=solid
      https://fontawesome.com/icons/code-branch?style=solid
    
    All free icons:
      https://fontawesome.com/icons?d=gallery&m=free
  -->

  <div class="container">
    <div class="row">
        
      <div class="col-lg-6 col-md-6 col-sm-12 text-center">
        <div class="service-box">
          <i class="fab fa-creative-commons-pd-alt text-primary pd-advert-icon" aria-hidden></i>
          <h3>Get Involved</h3>
          <p>
            We are collecting contact information for teachers interested in attending a PD in the future. If you would like to be notified about future PD workshops, fill out this <a href="https://docs.google.com/forms/d/e/1FAIpQLScX0fQBg00R4E6CWPoWsDUTYbt-6nUuot5_5f07lImKU8EejA/viewform?usp=sf_link" target="_blank">Online Interest Form</a>.
          </p>
        </div>
      </div>
        
      <div class="col-lg-6 col-md-6 col-sm-12 text-center">
        <div class="service-box">
          <i class="fas fa-ticket-alt text-primary pd-advert-icon" aria-hidden></i>
          <h3>Cost</h3>
          <p>
            Free of charge
          </p>
          <p>
            CPDU hours provided
          </p>
          <p class="text-muted pd-advert-aside">
              <em>Note: Workshop sponsored by the National Science Foundation. Participants who enroll in our research study will be provided a stipend to compensate their time in the workshop.</em>
          </p>
        </div>
      </div>
        
      <div class="col-lg-6 col-md-6 col-sm-12 text-center">
        <div class="service-box">
          <i class="fab fa-leanpub text-primary pd-advert-icon" aria-hidden></i>
          <h3>What is Action Fractions?</h3>
          <p>
            Action Fractions is an integrated mathematics-computational thinking curriculum, designed using Everyday Mathematics. This course focuses on 3rd and 4th grade fractions instruction, providing 10 hours of instruction per year to augment any existing mathematics curriculum.
          </p>
        </div>
      </div>
        
      <div class="col-lg-6 col-md-6 col-sm-12 text-center">
        <div class="service-box">
          <!-- <i class="fas fa-gem text-primary pd-advert-icon" aria-hidden></i> -->
          <i class="fas fa-tv text-primary pd-advert-icon" aria-hidden></i>
          <h3>What's special about Action Fractions?</h3>
          <p>
              All materials and PD are free of charge.
          
              It provides a variety of integrated lessons that use computing to build fractions fundamentals in 3rd and 4th grade while building computational thinking skills.
              
              It provides complete lesson plans, including discussion prompts, reflections, extension ideas, and assessments.
          </p>
        </div>
      </div>

    </div> <!-- /.row -->
  </div> <!-- /.container -->

</section>

<aside class="bg-dark">
  <div class="container text-center">
    <div class="call-to-action">
      <h2>Want more information?</h2>
      <a href="mailto:castrickland@uchicago.edu" class="btn btn-default btn-xl wow tada">Contact Carla Strickland</a>
      </div>
  </div>
</aside>

<section class="pd-past">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Past Professional Development Workshops</h2>
        <hr class="primary">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">

        <div class="col-lg-6 col-md-12 col-sm-12 text-center">
            <div>
              <img src="/static/img/pd/pd-pathfinders2-2018-07.png" class="showcase-image" alt="">
              <h3><div class="pd-location">Infosys Pathfinders</div> <span class='pd-title'>Everyday Computing: Integrating computational thinking into elementary mathematics</span></h3>
              <p class="pd-date">
                July 15-20, 2018
              </p>
              <p class="pd-desc">
                A brief description for this professional development workshop goes here. A few sentences ought to do it.
                Perhaps describe the number of teachers, the teachers' backgrounds, the venue, and any other interesting details
                that stand out.
              </p>
              <p>
                <a href="https://ctrl.education.illinois.edu/pd" target="_blank">Learn more about the Infosys Pathfinders workshop</a>
              </p>
              <p>
                <a href="https://twitter.com/search?f=tweets&vertical=default&q=%23infypathfinders%20%40everydaycs&src=typd" target="_blank"><i class="fab fa-twitter" aria-hidden></i> View Twitter activity surrounding Infosys Pathfinders workshop</a>
              </p>
            </div>
          </div>

          <div class="col-lg-6 col-md-12 col-sm-12 text-center">
              <div>
                <img src="/static/img/pd/pd-action-fractions-2018-08.png" class="showcase-image" alt="">
                <h3><div class="pd-location">Chicago Public Schools</div> <span class='pd-title'>Action Fractions</span></h3>
                <p class="pd-date">
                  August 20 & 24, 2018
                </p>
                <p class="pd-desc">
                    A brief description for this professional development workshop goes here. A few sentences ought to do it.
                    Perhaps describe the number of teachers, the teachers' backgrounds, the venue, and any other interesting details
                    that stand out.
                </p>
                <p>
                  <a href="https://www.canonlab.org/ltec-2-pd" target="_blank">Learn more about the Action Fractions workshops</a>
                </p>
              </div>
            </div>

            <div class="col-lg-6 col-lg-offset-3 col-md-12 col-sm-12 text-center">
                <div>
                  <img src="/static/img/pd/pd-action-fractions-2018-08.png" class="showcase-image" alt="">
                  <h3><div class="pd-location">New York PS 86</div> <span class='pd-title'>Action Fractions</span></h3>
                  <p class="pd-date">
                    August 27-28, 2018
                  </p>
                  <p class="pd-desc">
                      A brief description for this professional development workshop goes here. A few sentences ought to do it.
                      Perhaps describe the number of teachers, the teachers' backgrounds, the venue, and any other interesting details
                      that stand out.
                  </p>
                  <p>
                    <a href="https://www.canonlab.org/ltec-2-pd" target="_blank">Learn more about the Action Fractions workshops</a>
                  </p>
                  <p>
                    <a href="https://twitter.com/search?f=tweets&vertical=default&q=%23ps86x&src=typd" target="_blank"><i class="fab fa-twitter" aria-hidden></i> View Twitter activity surrounding Action Fractions workshop on August 27-28, 2018</a>
                  </p>
                </div>
              </div>
      
    </div> <!-- /.row -->
  </div> <!-- /.container -->

</section>



<aside class="bg-dark">
  <div class="container text-center">
    <!--<div class="call-to-action">
     <h2>Free Download at Start Bootstrap!</h2>
     <a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a>
     </div>
     -->
  </div>
</aside>


{% endblock %}
