{% set includeMagnific = true %}
{% extends "templates/public_base_template.html" %}

{% block body %}

<!-- Magnific Lightbox implementation -->
<script>

// Reusable function to lightboxify a section in case items are dynamically added to the page
function lightboxify() {
  // Load each gallery separately
  jQuery('.lightbox').each(function() {
    jQuery(this).magnificPopup({
      delegate: 'a.gallery-item', // the selector for gallery item
      type: 'image',
      gallery:{
        enabled:true
      },
      image: {
        verticalFit: true,
        titleSrc: function(item) {
          return jQuery(item.el).closest('figure').find('figcaption').text() + '<br /><a href=\"' + jQuery(item.el).attr('href') + '\" target=\"_blank\">View image #' + (jQuery(item.el).closest('li').index() + 1) + ' at full size in a new tab</a>';
        }
      },
    });
  });
}

jQuery(document).ready(function() {
  lightboxify();
});
</script>

<section class="bg-primary" id="intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Action Fractions Assessments</h2>
        <hr class="light">
        <br>
        <p class="text-faded">
          In addition to the <a href="/lessons/">lessons</a>, Actions Fractions has an associated set of assessments that are designed to reveal students’ developing Computational Thinking (CT) competencies along the different CT learning trajectories.
        </p>
        <a id="vis-btn" href="#about" class="btn btn-primary btn-xl page-scroll">About our Assessments</a>
        &nbsp;
        <a id="vis-btn" href="#sample" class="btn btn-primary btn-xl page-scroll">Sample Assessments</a>
        &nbsp;
        <a id="vis-btn" href="#learn-more" class="btn btn-primary btn-xl page-scroll">Learn More</a>
      </div>
    </div>
  </div>
</section>

<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About our Assessments</h2>
        <hr>
        <p>
          The assessment items were designed and developed to align with key points along each learning trajectory.
          For instance, we developed one set of assessment items designed to measure students’ knowledge, skills,
          and abilities that align with the sequence trajectory. In addition to sequence, we developed assessment
          items from the learning trajectories for conditionals, repetition, variables, and decomposition.
        </p>
        <p>
          These assessment items can be used in different ways by teachers, including for formative and summative purposes.
          As part of our research activities, we have used them for summative purposes, by assembling the items into short
          instruments (i.e., "tests"). Each instrument is designed to be used after four lessons, and is targeted to the
          specific knowledge, skills, and abilities that were developed through the <a href="/lessons/">lessons</a>.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="bg-primary" id="sample">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12 text-center">
        <h2>Sample Assessment Items</h2>
        <hr class="light">
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-12 text-center">
        <!-- <h3>Activity Summary</h3> -->
        <p>
          The assessment items use a variety of paper-and-pencil formats.
          Some assessment items use the Scratch interface or Scratch code blocks,
          while others are not embedded within a Scratch context.
          The majority of the assessment items use mathematics content or are embedded
          in a mathematics context, furthering the integration of mathematics and
          Computational Thinking (CT).
        </p>
      </div>
    </div>
    <!-- <div class="row align-items-center">
      <div class="col-lg-12 text-center">
        <h3>Fraction Circles 1 Samples</h3>
      </div>
    </div> -->
    <ul class="row align-items-center sample-items nodecor lightbox">
      <li class="col-lg-6 col-md-6 col-sm-12 text-center">
        <figure>
          <a class="gallery-item" href="/static/img/assessments/assessment-sample-repetition.png">
            <img src="/static/img/assessments/assessment-sample-repetition.png"
              class="sample-lesson"
              alt="Assessment item designed to measure a student's understanding of repetition by rewriting a set of sequential instructions for dividing 9 cookies among 3 friends into a set of instructions including 'repeat 3 times' at least once" />
              <!-- alt="Word problem: &apos;Andre has 9 cookies to give away to his friends Sally, Val, and Lee. He wants to give each friend an equal number of cookies. Andrew wrote instructions for how to give away the cookies. Rewrite his instructions. Use the instruction &quot;repeat 3 times&quot; at least once.&apos; (Left column) &quot;Andre's instructions&quot; are as follows: 1. Give Sally 1 cookie, 2. Give Val 1 cookie, 3. Give Lee 1 cookie, 4. Give Sally 1 cookie, 5. Give Val 1 cookie, 6. Give Lee 1 cookie, 7. Give Sally 1 cookie, 8. Give Val 1 cookie, 9. Give Lee 1 cookie. (Right column) &quot;Your instructions&quot; is blank" /> -->
          </a>
          <figcaption>Sample Assessment Item: Repetition</figcaption>
        </figure>
      </li>
      <li class="col-lg-6 col-md-6 col-sm-12 text-center">
        <figure>
          <a class="gallery-item" href="/static/img/assessments/assessment-sample-sequence.png">
            <img src="/static/img/assessments/assessment-sample-sequence.png"
              class="sample-lesson"
              alt="Assessment item designed to measure a student's understanding of sequence by using Scratch blocks to move a cat along a numberline to pick up his hat and then walk to 6 on the numberline" />
              <!-- alt="Scratch project stage depicting a numberline with a hat at point 1 and a cat at point 5, with the following problem statement: 'The cat forgot his hat! Using only the blocks shown, make him walk back, pick up his hat, and then walk forward until he stops at 6 on the number line. Write or draw your script below.' The blocks shown are: 'Move 1 step backward', 'move 1 step forward', 'move 2 steps backward', 'move 2 steps forward', and 'pick up hat'" /> -->
            </a>
          <figcaption>Sample Assessment Item: Sequence</figcaption>
        </figure>
      </li>
    </ul>
  </div>
</section>

<aside class="bg-dark" id="learn-more">
  <div class="container text-center">
    <div class="call-to-action">
      <h2>Interested in learning more about our assessments?</h2>
      <a href="mailto:everydaycsproject@gmail.com" class="btn btn-default btn-xl wow tada">Contact Us</a>
      </div>
  </div>
</aside>

<!-- <section class="bg-dark">
    <div class="container text-center">
      
    </div>
  </section> -->

{% endblock %}
