{% extends "templates/public_base_template.html" %}

{% block body %}

<section class="bg-primary" id="intro">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Publications & Presentations</h2>
				<hr class="light">
				<br>
				<a id="vis-btn" href="#publications" class="btn btn-primary btn-xl page-scroll">Publications</a>
				&nbsp;
				<a id="vis-btn" href="#presentations" class="btn btn-primary btn-xl page-scroll">Presentations</a>
				&nbsp;
				<a id="vis-btn" href="#posters" class="btn btn-primary btn-xl page-scroll">Posters</a>
			</div>
		</div>
	</div>
</section>

<section id="publications">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Publications</h2>
				<hr>
			</div>
		</div> <!-- /.row -->
		<div class="row">
			<div class="col-lg-12 text-left">

				<p class="hangingindent">Maya Israel &amp; Todd Lash (2019). <a href="https://doi.org/10.1080/10494820.2019.1674879">From classroom lessons to exploratory learning progressions: mathematics + computational thinking</a>. In <em>Interactive Learning Environments</em>. DOI: 10.1080/10494820.2019.1674879.</p>
				<p class="hangingindent">Rich, K. M., Binkowski, T. A., Strickland, C., &amp; Franklin, D. (2019, February). <a href="https://dl.acm.org/citation.cfm?id=3287396">A K-8 Debugging Learning Trajectory Derived from Research Literature</a>. In <em>Proceedings of the 50th ACM Technical Symposium on Computer Science Education</em> (pp. 745–751). ACM.</p>
				<p class="hangingindent">Rich, K. M., Binkowski, T. A., Strickland, C., &amp; Franklin, D. (2018, August). <a href="https://dl.acm.org/citation.cfm?id=3230979">Decomposition : A K-8 computational thinking learning trajectory</a>. In <em>Proceedings of the 2018 ACM Conference on International Computing Education Research</em> (pp. 124–132). ACM.</p>
				<p class="hangingindent">Rich, K. M., Strickland, C., Binkowski, A., Moran, C., &amp; Franklin, D. (2017, August). <a href="http://dl.acm.org/citation.cfm?id=3106166&CFID=797810216&CFTOKEN=11574041">K-8 Learning Trajectories Derived from Research Literature: Sequence, Repetition, Conditionals</a>. <em>ICER '17 Proceedings of the 2017 ACM International Conference on Computer Education Research,</em> Tacoma, WA.</p>
				<p class="hangingindent">Rich, K., Strickland, C., Franklin, D. (2017, March). <a href="http://dl.acm.org/citation.cfm?id=3017772&amp;CFID=786772246&amp;CFTOKEN=85602627">A Literature Review through the Lens of Computer Science Learning Goals Theorized and Explored in Research</a>. <em>SIGCSE '17 Proceedings of the 2017 ACM SIGCSE Technical Symposium on Computer Science Education,</em> Seattle, WA. </p>

			</div>
		</div> <!-- /.row -->
	</div> <!-- /.container -->
</section> <!-- /#publications -->

<section class="bg-primary" id="presentations">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Presentations</h2>
				<hr class="light">
			</div>
		</div> <!-- /.row -->
		<div class="row">
			<div class="col-lg-12 text-left">

				<p class="hangingindent">Rich, K. M. (2018, June). Learning trajectories for everyday computing. In J. Confrey (Chair), <em>The Ongoing Process of Validating and/or Adapting Learning Trajectories Over Time</em>. Symposium conducted at the National Science Foundation Discovery Research K-12 and STEM+Computing Principal Investigator meeting, Washington, DC.</p>
				<p class="hangingindent">Israel, M., Wherfel, Q. M., &amp; Pokimica, J. (2017, April). <em>Classroom lessons to learning trajectories: Mathematics + computational thinking.</em> Paper presented at the American Educational Research Association National Meeting, San Antonio, TX.</p>
				<p class="hangingindent">Isaacs, A., Moran, C., &amp; Rich, K. (2017). <em>Bringing Computational Thinking into Elementary Mathematics.</em> Presentation at the National Council of Teachers of Mathematics Annual Meeting, San Antonio, TX.</p>
				<p class="hangingindent">Binkowski, T. A., &amp; Rich, K. (2016). <em>Using Computation to Define Computational Thinking.</em> Presentation at the Illinois Council of Teachers of Mathematics Annual Meeting, Peoria, IL.</p>
				<p class="hangingindent">Isaacs, A. (2016). <em>Computer Science for All: Lessons Learned from Mathematics.</em> Presentation at the Joint conference of the Illinois council for Teachers of Mathematics and the Illinois Science Teachers Association, Peoria, IL.</p>

			</div>
		</div> <!-- /.row -->
	</div> <!-- /.container -->
</section> <!-- /#publications -->

<section id="posters">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Posters</h2>
				<hr>
			</div>
		</div> <!-- /.row -->
		<div class="row">
			<div class="col-lg-12 text-left">

				<p class="hangingindent">Rich, K., Pokimica, J., Wherfel, Q., Strickland, C., &amp; Moran, C. (2017, April). <a href="http://www.aera.net/Publications/Online-Paper-Repository/AERA-Online-Paper-Repository/Owner/984843"><em>Building Mathematics + Computational Thinking Trajectories From Existing Literature</em></a>. Poster presented at the 2017 American Educational Research Association Annual Meeting, San Antonio, TX.</p>
				<p class="hangingindent">Israel, M., Lash, T., &amp; Reese, G. (2017, March). <em>Emerging learning progressions in K-5 integrated mathematics and computer science lesson plans.</em> Poster presented at the 48th Technical Symposium on Computer Science Education, Association for Computing Machinery Special Interest Group for Computer Science Education National Conference (SIGCSE), Seattle, WA.</p>
				<p class="hangingindent"> Israel, M., Pokimica, J., Wherfel, Q., &amp; Reese, G. (revised and resubmitted). <em>Integrating computer science into elementary mathematics: Cross-case analysis of classroom implementation.</em> Journal for Research in Mathematics Education.</p>	  

			</div>
		</div> <!-- /.row -->
	</div> <!-- /.container -->
</section> <!-- /#publications -->

{% endblock %}
