{% extends "templates/public_base_template.html" %}

{% block body %}


<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Everyday Computing Resources</h2>
        <hr class="light">
        <br>
        <p class="text-faded">
          The LTEC team has developed several resources throughout the LTEC project. These resources include: (1) Learning Trajectories for the following computational concepts: Sequence, Repetition, Conditionals, Decomposition, and Debugging .(2) Lesson plans for integrated fractions + CT that we are calling Action Fractions, and (3) Videos, presentations and publications that describe the project in depth.
        </p>
        <a id="vis-btn" href="#learning-trajectories" class="btn btn-primary btn-xl page-scroll">Learning Trajectories</a>
        &nbsp;
        <a id="vis-btn" href="#lessons-actionfractions" class="btn btn-primary btn-xl page-scroll">Action Fractions Lessons</a>
        &nbsp;
        <a id="vis-btn" href="#assessments" class="btn btn-primary btn-xl page-scroll">Assessments</a>
        &nbsp;
        <a id="vis-btn" href="#lessons-ctmath" class="btn btn-primary btn-xl page-scroll">CT+Math Lessons</a>
        &nbsp;
        <a id="vis-btn" href="#videos" class="btn btn-primary btn-xl page-scroll">Videos</a>
        &nbsp;
        <!-- <a id="vis-btn" href="https://ctrl.education.illinois.edu/pd/2019-infosys-foundation-usa-pathfinders-summer-institute" class="btn btn-primary btn-xl page-scroll">Summer 2019 Professional Development</a> -->
        <!-- <a id="vis-btn" href="/pd/" class="btn btn-primary btn-xl page-scroll">Professional Development</a> -->
        <!-- <br />
        <a id="vis-btn" href="https://ctrl.education.illinois.edu/ltec/lessons" class="btn btn-primary btn-xl page-scroll">CT+Math Lessons</a>
        &nbsp;
        <a id="vis-btn" href="https://www.canonlab.org/actionfractionslessons" class="btn btn-primary btn-xl page-scroll">Action Fractions Lessons</a>
        <br />
        <a id="vis-btn" href="article/" class="btn btn-primary btn-xl page-scroll">Articles</a>
        &nbsp;
        <a id="vis-btn" href="/public/visualization/" class="btn btn-primary btn-xl page-scroll">Learning Trajectories</a> -->
        <!--<a href="#" class="btn btn-default btn-xl">Get Started!</a>-->
      </div>
    </div>
  </div>
</section>

<section id="learning-trajectories">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 text-center">
          <span class="fas fa-code-branch text-primary icon-huge" aria-hidden="true"></span>
      </div>
      <div class="col-lg-6 text-center">
        <h2>Learning Trajectories</h2>
        <p>
          Explore our draft learning trajectories, published in SIGCSE and ICER. Gray boxes indicate concepts that could be learned and applied outside of computing, whereas white boxes refer to computing specifically. Developed based on over 100 CS Ed publications, these are just a starting point. As with any LT’s, these are potential learning paths a student can follow or a curriculum designed around. However, some students may learn later concepts before earlier ones, or jump around. The arrows should be interpreted as suggestions, not definite pronouncements.
        </p>
        <br />
        <a href="/public/visualization/" class="btn btn-primary btn-xl page-scroll">View our learning trajectories</a>
      </div>
    </div>
  </div>
</section>

<!-- <section class="bg-primary" id="pd">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-lg-push-6 text-center">
          <span class="fab fa-creative-commons-pd-alt text-white icon-huge" aria-hidden="true"></span>
      </div>
      <div class="col-lg-6 col-lg-pull-6 text-center">
        <h2>Professional Development</h2>
        <p>
          We offer professional development for teachers looking to integrate computational thinking and computer science into their mathematics curriculum.
        </p>
        <br />
        <a href="/pd/" class="btn btn-default btn-xl page-scroll">Learn more about our PD offerings</a>
      </div>
    </div>
  </div>
</section> -->

<section class="bg-primary" id="lessons-actionfractions">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-lg-push-6 text-center">
          <div class="icon-laptop-divide-container-outer text-white icon-huge">
              <div class="icon-laptop-divide-container-inner text-white">
                  <span class="fas fa-laptop text-white icon-laptop-under-divide" aria-hidden="true"></span>
                  <span class="fas fa-divide text-white icon-divide-over-laptop" aria-hidden="true"></span>
              </div>
          </div>
      </div>
      <div class="col-lg-6 col-lg-pull-6 text-center">
        <h2>LTEC-2: Action Fractions Lessons</h2>
        <p>
          Action Fractions is a cohesive sequence of activities designed to align with math standards for fraction instruction in 3rd and 4th grade as well as CT learning goals drawn from learning trajectories for sequence, conditionals, iteration, and debugging.
        </p>
        <!-- <p>
          Action Fraction lessons can be divided into three categories: unplugged, skill building and culminating project. Each year of instruction includes approximately 12 activities. Major concepts are often introduced first in an unplugged activity, followed by several skill building activities. Each year concludes with an open-ended, culminating project.
          Most skill-building lessons follow a similar format. First, the context is set in the mathematics context and the CT context. Next, students are presented with example code that illustrates the use of a CT concept for exploring a mathematics concept. Students are stepped through the example code in three steps using the TIPP&SEE learning strategy: observing how it currently works, inspecting the code and predicting what code blocks had particular effects, then making small changes to new code blocks in order to better understand the code. Then the students use those code blocks to make their own scripts according to prompts in journal pages.          
        </p> -->
        <br />
        <a href="/lessons/" class="btn btn-default btn-xl page-scroll">Learn more about Action Fractions</a>
        <!-- <a href="https://www.canonlab.org/actionfractionslessons" class="btn btn-default btn-xl page-scroll">View our Action Fractions Lessons</a> -->
      </div>
    </div>
  </div>
</section>

<section id="assessments">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 text-center">
          <span class="fab fa-leanpub text-primary icon-huge" aria-hidden="true"></span>
      </div>
      <div class="col-lg-6 text-center">
        <h2>Assessments</h2>
        <p>
          Action Fraction assessments are also available to be used at different points after teaching the lessons. The assessment items were designed using the same learning trajectories that were used to design the Action Fractions lessons.
        </p>
        <!-- <br />
        <a href="/assessments/" class="btn btn-primary btn-xl page-scroll">Learn more about our Assessments</a> -->
      </div>
    </div>
  </div>
</section>

<section class="bg-primary" id="lessons-ctmath">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-push-6 text-center">
          <span class="far fa-sticky-note text-white icon-huge" aria-hidden="true"></span>
      </div>
      <div class="col-lg-6 col-lg-pull-6 text-center">
        <h2>LTEC-1: Initial CT+Math Lessons</h2>
        <p>
          Originally created by teachers at Kenwood Elementary in the Champaign Unit Four School District with the support of faculty from the University of Illinois, these original lessons were intended for use with the Everyday Math 4 curriculum in grades 1-5 . The lessons were later iterated upon by Judy Rocke for the purpose of more widespread distribution.
        </p>
        <br />
        <a href="https://ctrl.education.illinois.edu/ltec/lessons" class="btn btn-default btn-xl page-scroll">View our CT+Math Lessons</a>
      </div>
    </div>
  </div>
</section>

<section id="videos">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-center">
          <span class="fas fa-video text-primary icon-huge" aria-hidden="true"></span>
      </div>
      <div class="col-lg-6 text-center">
        <h2>Videos</h2>
        <p>
          We developed these videos for the annual NSF STEM Video Showcase between 2016 and 2020. By watching these videos, you can see the progression of the LTEC project. 
        </p>
        <br />
        <a href="/about/#videos" class="btn btn-primary btn-xl page-scroll">View our videos</a>
      </div>
    </div>
  </div>
</section>

<!-- <section class="bg-primary" id="articles">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-push-6 text-center">
          <span class="fas fa-newspaper text-white icon-huge" aria-hidden="true"></span>
      </div>
      <div class="col-lg-6 col-lg-pull-6 text-center">
        <h2>Article Database</h2>
        <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </p>
        <br />
        <a href="article/" class="btn btn-default btn-xl page-scroll">View our article database</a>
      </div>
    </div>
  </div>
</section> -->

<!-- <section class="bg-dark">
  <div class="container text-center">
    <div class="call-to-action">
      <h2>Visiting after <a href="https://twitter.com/hashtag/SIGCSE2019?src=hash">#SIGCSE2019</a>?</h2>
      <p>If you're visiting after attending Carla's and Katie's <a href="https://whova.com/embedded/session/sigcs_201902/488360/">A K-8 Debugging Learning Trajectory Derived from Research Literature</a> talk during SIGCSE 2019,
      you may be interested in checking out our sample lessons:</p>
      
      <a href="https://www.canonlab.org/action-fractions-materials" class="btn btn-default btn-xl wow tada" style="visibility: visible; animation-name: tada;">Sample Action Fractions Materials</a>
      </div>
  </div>
</section> -->

<section class="bg-dark">
    <div class="container text-center">
      
    </div>
  </section>

{% endblock %}
