{% extends "templates/public_base_template.html" %}

{% block body %}


<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Everyday Computing Resources</h2>
        <hr class="light">
        <p> </p>
        <a id="vis-btn" href="article/" class="btn btn-primary btn-xl page-scroll">Articles</a>
        <a id="vis-btn" href="https://ctrl.education.illinois.edu/ltec/lessons" class="btn btn-primary btn-xl page-scroll">CT+Math Lessons</a>
        <a id="vis-btn" href="/public/visualization/" class="btn btn-primary btn-xl page-scroll">Learning Trajectories</a>
        <!--<a href="#" class="btn btn-default btn-xl">Get Started!</a>-->
      </div>
    </div>
  </div>
</section>

{% endblock %}
