{% extends "templates/public_base_template.html" %}

{% block body %}


<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Everyday Computing Resources</h2>
        <hr class="light">
        <br>
        <a id="vis-btn" href="https://ctrl.education.illinois.edu/pd/2019-infosys-foundation-usa-pathfinders-summer-institute" class="btn btn-primary btn-xl page-scroll">Summer 2019 Professional Development</a>
        <!-- <a id="vis-btn" href="/pd/" class="btn btn-primary btn-xl page-scroll">Professional Development</a> -->
        <br />
        <a id="vis-btn" href="https://ctrl.education.illinois.edu/ltec/lessons" class="btn btn-primary btn-xl page-scroll">CT+Math Lessons</a>
        &nbsp;
        <a id="vis-btn" href="https://www.canonlab.org/action-fractions-materials" class="btn btn-primary btn-xl page-scroll">Action Fractions Lessons</a>
        <br />
        <a id="vis-btn" href="article/" class="btn btn-primary btn-xl page-scroll">Articles</a>
        &nbsp;
        <a id="vis-btn" href="/public/visualization/" class="btn btn-primary btn-xl page-scroll">Learning Trajectories</a>
        <!--<a href="#" class="btn btn-default btn-xl">Get Started!</a>-->
      </div>
    </div>
  </div>
</section>

<section class="bg-dark">
  <div class="container text-center">
    <div class="call-to-action">
      <h2>Visiting after <a href="https://twitter.com/hashtag/SIGCSE2019?src=hash">#SIGCSE2019</a>?</h2>
      <p>If you're visiting after attending Carla's and Katie's <a href="https://whova.com/embedded/session/sigcs_201902/488360/">A K-8 Debugging Learning Trajectory Derived from Research Literature</a> talk during SIGCSE 2019,
      you may be interested in checking out our sample lessons:</p>
      
      <a href="https://www.canonlab.org/action-fractions-materials" class="btn btn-default btn-xl wow tada" style="visibility: visible; animation-name: tada;">Sample Action Fractions Materials</a>
      </div>
  </div>
</section>

{% endblock %}
