{% extends "templates/public_base_template.html" %}

{% block body %}
  <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Trajectory Visualizations</h1>
                <hr>
                <p>Prototype learning trajectories for computer science at grades K-5</p>
                <a href="/tools/trajectory/ahZzfmV2ZXJ5ZGF5Y29tcHV0aW5nb3JncjELEgpUcmFqZWN0b3J5IgpUUkFKRUNUT1JZDAsSClRyYWplY3RvcnkYgICAgMDflwoM/visualization/" class="btn btn-primary btn-xl page-scroll">Sequence</a>
                <a href="/tools/trajectory/ahZzfmV2ZXJ5ZGF5Y29tcHV0aW5nb3JncjELEgpUcmFqZWN0b3J5IgpUUkFKRUNUT1JZDAsSClRyYWplY3RvcnkYgICAgKDEjgoM/visualization/" class="btn btn-primary btn-xl page-scroll">Repetition</a>
                <a href="/tools/trajectory/ahZzfmV2ZXJ5ZGF5Y29tcHV0aW5nb3JncjELEgpUcmFqZWN0b3J5IgpUUkFKRUNUT1JZDAsSClRyYWplY3RvcnkYgICAgKCSnwoM/visualization/" class="btn btn-primary btn-xl page-scroll">Conditionals</a>
            </div>
        </div>
    </header>


    <aside class="bg-dark">
        <div class="container text-center">
            <!--<div class="call-to-action">
                <h2>Free Download at Start Bootstrap!</h2>
                <a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a>
            </div>
          -->
        </div>
    </aside>


{% endblock %}
