<!DOCTYPE html> {% autoescape true %}
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136182084-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-136182084-1');
  </script>
  <link>
  <script src="https://code.jquery.com/jquery-2.0.3.min.js"></script>

  <script src="/static/cytoscape.js"></script>
  <script src="/static/cytoscape-context-menus-master/cytoscape-context-menus.js"></script>
  <link href="/static/cytoscape-context-menus-master/cytoscape-context-menus.css" rel="stylesheet" type="text/css"/>

  <script src="https://cdn.rawgit.com/cpettitt/dagre/v0.7.4/dist/dagre.min.js"></script>
  <script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-dagre/1.1.2/cytoscape-dagre.js"></script>
  <script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-cose-bilkent/1.0.5/cytoscape-cose-bilkent.js"></script>

  <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>  
</head>


<body>


  <div class="container">


    {% block body %} {% endblock %}

  </div>
</body>

</html>
{% endautoescape %}
