{% extends "templates/base_vis_template.html" %}
{% block body %}

{% if (elements is defined) and elements %}
<script src="/static/code-s.js"></script>
{% for dict in elements %}
<script>
  var dict =  {{ dict|safe }} ;
  accept_data( dict );
</script>
{% endfor %}
{% endif %}
<div id="cy">
</div>

<div class="btn-container">
  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid" style="background-color: #f05f40; font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif; text-transform: uppercase; font-size: 13px; font-weight: 700;">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand page-scroll" href="/">Everyday Computing</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a class="page-scroll" href="/">Home</a>
            </li>
            <li>
              <a class="page-scroll" href="http://blog.everydaycomputing.org">Blog</a>
            </li>
            <li>
              <a class="page-scroll" href="/public/resource/article/">Articles</a>
            </li>
            <li>
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Visualizations
                <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/tools/trajectory/ahZzfmV2ZXJ5ZGF5Y29tcHV0aW5nb3JncjELEgpUcmFqZWN0b3J5IgpUUkFKRUNUT1JZDAsSClRyYWplY3RvcnkYgICAgMDflwoM/visualization/">Sequence</a></li>
                <li><a href="/tools/trajectory/ahZzfmV2ZXJ5ZGF5Y29tcHV0aW5nb3JncjELEgpUcmFqZWN0b3J5IgpUUkFKRUNUT1JZDAsSClRyYWplY3RvcnkYgICAgKDEjgoM/visualization/">Repetition</a></li>
                <li><a href="/tools/trajectory/ahZzfmV2ZXJ5ZGF5Y29tcHV0aW5nb3JncjELEgpUcmFqZWN0b3J5IgpUUkFKRUNUT1JZDAsSClRyYWplY3RvcnkYgICAgKCSnwoM/visualization/">Conditionals</a></li>
              </ul> 
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
  <div class="hoverable"><input type='button' id='beginning' class='view_btn btn' value='Beginning'></div>
  <div class="hoverable"><input type='button' id='intermediate' class='view_btn btn' value='Intermediate'></div>
  <div class="hoverable"><input type='button' id='advanced' class='view_btn btn' value='Advanced'></div>
  <div class="hoverable"><input type='button' id='view1' class='view_btn btn' value='View 1'></div>
  <div class="hoverable"><input type='button' id='view2' class='view_btn btn' value='View 2'></div>
  <div class="hoverable"><input type='button' id='view3' class='view_btn btn' value='View 3'></div>
  <div class="hoverable"><input type='button' id='unplugged-btn' class='view_btn square1 btn' value='Unplugged'></div>
  <div class="hoverable"><input type='button' id='programming-btn' class='view_btn square2 btn' value='Programming'></div>

</div>

{% endblock %}