body {
  font: 14px helvetica neue, helvetica, arial, sans-serif;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
}

#cy {
  position: absolute;
  left: 0;
  top: 120 !important;
  right: 0;
  bottom: 0;
  height: 86%;
  width: 100%;
}

#info {
  color: #c88;
  font-size: 1em;
  position: absolute;
  z-index: -1;
  left: 1em;
  top: 1em;
}


#beginning {
  left: 5%;
  background-color: #36ad29;
}
#intermediate {
  left: 17%;
  background-color: #e2a32d;
}
#advanced {
  left: 29%;
  background-color: #6030ad;
}

/*#legend {
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  width: 120px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 5%;
  border: none;
  font-size: 16px;
}*/
tr {
  height: 50px;
}

.view_btn {
  width: 6%;
  height: 2.7%;
  position: absolute;
  top: 6.5%;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
   border-style: solid;
  border-color: black;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline:none;
}
#view1 {
  left: 41%;
}
#view2 {
  left: 53%;
}
#view3 {
  left: 65%;
}

.square1 {
  background-color:#0169D9;
  left: 77%;
}
.square2 {
  background-color: #F2F2F2;
  left: 89%;
  right: 5% !important;
}


.a-btn {
  z-index: 3;
  visibility: hidden;
  position: absolute;
  display:block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #c3c3c3;
  border: none;
}

.hoverable:hover {
  background-color:rgba(0, 0, 0, 0.1);
}