{% extends "templates/base_template.html" %}

{% block body %}


<div class="container">
  <h1>Summary</h1>
  <p>Say something here...</p>
  
  
  <form action="/article/category/edit/{{category}}/{{key}}/" method="post">
    <div><textarea name="summary" class="input-block" rows="20">{{ article.summary }}</textarea></div>
    <div><br>Star this as a favorite article: <input type="checkbox" name="star"
    {% if article.star %}checked="yes"{% endif %}
    ></div>
    <div><br><input type="submit" class="btn btn-large btn-primary"></div>
  
  
  
  </form>
  

</div>

{% endblock %}